lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
/.sonar
/templates/hello-world/assets/stylesheets/common.css
/templates/hello-vue/assets/stylesheets/common.css
/templates/hello-vue/assets/stylesheets/common.0.0.0.min.css
/templates/hello-vue/assets/javascripts/common.0.0.0.min.js
/templates/hello-vue/assets/javascripts/framework.0.0.0.min.js
