# Required metadata
sonar.projectKey=nodeatlas-css
sonar.projectName=NodeAtlas CSS
sonar.projectVersion=1.4

# Comma-separated paths to directories with sources (required)
sonar.sources=./

# Language
sonar.language=css

# Encoding of the source files
sonar.sourceEncoding=UTF-8

sonar.exclusions=node_modules/**