.content {
  box-shadow: -2px 0 5px #000;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.1rem;
  overflow: hidden;
  background-color: #fff;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content li code,
.content p code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
  background-color: #f8f8f8;
  font-family: monospace;
  font-size: 0.8em;
}
.content.with-animation {
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}
@media (min-width: 768px) {
  .content {
    padding: 16px;
  }
}
.content--inner {
  -webkit-transition: height 1s ease, opacity 1s ease;
  -moz-transition: height 1s ease, opacity 1s ease;
  -ms-transition: height 1s ease, opacity 1s ease;
  -o-transition: height 1s ease, opacity 1s ease;
  transition: height 1s ease, opacity 1s ease;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  opacity: 1;
}
@media (min-width: 768px) {
  .content--inner {
    margin-left: 310px;
    width: calc(100% - 310px);
  }
}
.content--inner.is-blocked {
  overflow: hidden;
}
.content--inner.is-hidden {
  opacity: 0;
  height: 0;
}
.content h2 {
  -webkit-transition: font-size 1s ease;
  -moz-transition: font-size 1s ease;
  -ms-transition: font-size 1s ease;
  -o-transition: font-size 1s ease;
  transition: font-size 1s ease;
  color: #3e863d;
  margin: 20px 0 1em;
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  .content h2 {
    font-size: 3rem;
  }
}
.content h3 {
  font-size: 1.8rem;
  margin: 45px 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}
.content h3:nth-child(1) {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .content h3 {
    font-size: 2.25rem;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFzc2V0cy9zdHlsZXNoZWV0cy9jbXB0LmNvbnRlbnQuc3R5bCJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQTtFQVlDLFlBQVcsZ0JBQVg7RUFDQSxXQUFVLE9BQVY7RUFDQSxhQUFhLEtBQWI7RUFPQSxTQUFRLE9BQVI7RUFDQSxVQUFTLE9BQVQ7RUFDQSxrQkFBc0MsS0FBdEM7RUFDQSxTQUFRLElBQVI7RUFDQSxvQkFBbUIsV0FBbkI7RUFDRyxpQkFBZ0IsV0FBaEI7RUFDSyxZQUFXLFdBQVg7RUFHUixvQkFBbUIsV0FBbkI7RUFDRyxpQkFBZ0IsV0FBaEI7RUFDSyxZQUFXLFdBQVg7O0FBN0JQOztFQUNDLE9BQU0sUUFBTjtFQUNBLFNBQVEsUUFBUjtFQUNBLFFBQU8sTUFBUDtFQUNBLGVBQWMsSUFBZDtFQUNBLGFBQVksT0FBWjtFQUNBLGtCQUFrQixRQUFsQjtFQUNBLGFBQVksVUFBWjtFQUNBLFdBQVUsTUFBVjs7QUFJRjtFQUNDLG9CQUFtQixlQUFuQjtFQUNHLGlCQUFnQixlQUFoQjtFQUNDLGdCQUFlLGVBQWY7RUFDQyxlQUFjLGVBQWQ7RUFDRyxZQUFXLGVBQVg7O0FBUWM7QUFBQTtJQUN0QixTQUFRLEtBQVI7OztBQUlEO0VBQ0Msb0JBQWlDLGdDQUFqQztFQUNHLGlCQUE4QixnQ0FBOUI7RUFDQyxnQkFBNkIsZ0NBQTdCO0VBQ0MsZUFBNEIsZ0NBQTVCO0VBQ0csWUFBeUIsZ0NBQXpCO0VBQ1IsWUFBVyxLQUFYO0VBQ0Esb0JBQW1CLFdBQW5CO0VBQ0csaUJBQWdCLFdBQWhCO0VBQ0ssWUFBVyxXQUFYO0VBQ1IsVUFBUyxTQUFUO0VBQ0EsUUFBTyxLQUFQO0VBQ0EsT0FBTSxLQUFOO0VBSUEsU0FBUSxPQUFSO0VBQ0EsU0FBUSxFQUFSOztBQUp1QjtBQUFBO0lBQ3RCLGFBQVksTUFBWjtJQUNBLE9BQXVCLG1CQUF2Qjs7O0FBR0Q7RUFDQyxVQUFTLE9BQVQ7O0FBQ0Q7RUFDQyxTQUFRLEVBQVI7RUFDQSxRQUFPLEVBQVA7O0FBQ0Y7RUFDQyxvQkFBbUIsa0JBQW5CO0VBQ0csaUJBQWdCLGtCQUFoQjtFQUNDLGdCQUFlLGtCQUFmO0VBQ0MsZUFBYyxrQkFBZDtFQUNHLFlBQVcsa0JBQVg7RUFDUixPQUFNLFFBQU47RUFDQSxRQUFPLFdBQVA7RUFDQSxXQUFVLE9BQVY7O0FBQ3VCO0FBQUE7SUFDdEIsV0FBVSxLQUFWOzs7QUFDRjtFQUdDLFdBQVUsT0FBVjtFQUdBLFFBQU8sYUFBUDtFQUNBLGdCQUFlLE1BQWY7RUFDQSxlQUFjLGVBQWQ7O0FBUEE7RUFDQyxZQUFXLEtBQVg7O0FBRXNCO0FBQUE7SUFDdEIsV0FBVSxRQUFWIiwiZmlsZSI6ImNtcHQuY29udGVudC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IFwidmFyaWFibGVzXCJcclxuXHJcbi5jb250ZW50XHJcblx0bGlcclxuXHRwXHJcblx0XHRjb2RlXHJcblx0XHRcdGNvbG9yICNlOTY5MDBcclxuXHRcdFx0cGFkZGluZyAzcHggNXB4XHJcblx0XHRcdG1hcmdpbiAwIDJweFxyXG5cdFx0XHRib3JkZXItcmFkaXVzIDJweFxyXG5cdFx0XHR3aGl0ZS1zcGFjZSBub3dyYXBcclxuXHRcdFx0YmFja2dyb3VuZC1jb2xvciAgI2Y4ZjhmODtcclxuXHRcdFx0Zm9udC1mYW1pbHkgbW9ub3NwYWNlXHJcblx0XHRcdGZvbnQtc2l6ZSAwLjhlbVxyXG5cdGJveC1zaGFkb3cgLTJweCAwIDVweCByZ2JhKDAsIDAsIDAsIDEpXHJcblx0Zm9udC1zaXplIDEuNXJlbVxyXG5cdGxpbmUtaGVpZ2h0OiAycmVtOyBcclxuXHQmLndpdGgtYW5pbWF0aW9uXHJcblx0XHQtd2Via2l0LXRyYW5zaXRpb24gaGVpZ2h0IDFzIGVhc2VcclxuXHRcdCAgIC1tb3otdHJhbnNpdGlvbiBoZWlnaHQgMXMgZWFzZSBcclxuXHRcdCAgICAtbXMtdHJhbnNpdGlvbiBoZWlnaHQgMXMgZWFzZSBcclxuXHRcdCAgICAgLW8tdHJhbnNpdGlvbiBoZWlnaHQgMXMgZWFzZSBcclxuXHRcdCAgICAgICAgdHJhbnNpdGlvbiBoZWlnaHQgMXMgZWFzZSBcclxuXHRwYWRkaW5nIDAuMXJlbVxyXG5cdG92ZXJmbG93IGhpZGRlblxyXG5cdGJhY2tncm91bmQtY29sb3IgcmdiYSgyNTUsIDI1NSwgMjU1LCAxKVxyXG5cdHBhZGRpbmcgOHB4IFxyXG5cdC13ZWJraXQtYm94LXNpemluZyBib3JkZXItYm94XHJcblx0ICAgLW1vei1ib3gtc2l6aW5nIGJvcmRlci1ib3hcclxuXHQgICAgICAgIGJveC1zaXppbmcgYm9yZGVyLWJveFxyXG5cdEBtZWRpYSAobWluLXdpZHRoIDc2OHB4KVxyXG5cdFx0cGFkZGluZyAxNnB4XHJcblx0LXdlYmtpdC1ib3gtc2l6aW5nIGJvcmRlci1ib3hcclxuXHQgICAtbW96LWJveC1zaXppbmcgYm9yZGVyLWJveFxyXG5cdCAgICAgICAgYm94LXNpemluZyBib3JkZXItYm94XHJcblx0Ji0taW5uZXJcclxuXHRcdC13ZWJraXQtdHJhbnNpdGlvbiBoZWlnaHQgMXMgZWFzZSwgb3BhY2l0eSAxcyBlYXNlXHJcblx0XHQgICAtbW96LXRyYW5zaXRpb24gaGVpZ2h0IDFzIGVhc2UsIG9wYWNpdHkgMXMgZWFzZVxyXG5cdFx0ICAgIC1tcy10cmFuc2l0aW9uIGhlaWdodCAxcyBlYXNlLCBvcGFjaXR5IDFzIGVhc2VcclxuXHRcdCAgICAgLW8tdHJhbnNpdGlvbiBoZWlnaHQgMXMgZWFzZSwgb3BhY2l0eSAxcyBlYXNlXHJcblx0XHQgICAgICAgIHRyYW5zaXRpb24gaGVpZ2h0IDFzIGVhc2UsIG9wYWNpdHkgMXMgZWFzZVxyXG5cdFx0b3ZlcmZsb3cteSBhdXRvXHJcblx0XHQtd2Via2l0LWJveC1zaXppbmcgYm9yZGVyLWJveFxyXG5cdFx0ICAgLW1vei1ib3gtc2l6aW5nIGJvcmRlci1ib3hcclxuXHRcdCAgICAgICAgYm94LXNpemluZyBib3JkZXItYm94XHJcblx0XHRwb3NpdGlvbiByZWxhdGl2ZVxyXG5cdFx0aGVpZ2h0IDEwMCVcclxuXHRcdHdpZHRoIDEwMCVcclxuXHRcdEBtZWRpYSAobWluLXdpZHRoIDc2OHB4KVxyXG5cdFx0XHRtYXJnaW4tbGVmdCAzMTBweCBcclxuXHRcdFx0d2lkdGggY2FsYygxMDAlIC0gMzEwcHgpXHJcblx0XHRwYWRkaW5nIDAgMTBweFxyXG5cdFx0b3BhY2l0eSAxXHJcblx0XHQmLmlzLWJsb2NrZWRcclxuXHRcdFx0b3ZlcmZsb3cgaGlkZGVuOyBcclxuXHRcdCYuaXMtaGlkZGVuXHJcblx0XHRcdG9wYWNpdHkgMCBcclxuXHRcdFx0aGVpZ2h0IDBcclxuXHRoMlxyXG5cdFx0LXdlYmtpdC10cmFuc2l0aW9uIGZvbnQtc2l6ZSAxcyBlYXNlXHJcblx0XHQgICAtbW96LXRyYW5zaXRpb24gZm9udC1zaXplIDFzIGVhc2VcclxuXHRcdCAgICAtbXMtdHJhbnNpdGlvbiBmb250LXNpemUgMXMgZWFzZVxyXG5cdFx0ICAgICAtby10cmFuc2l0aW9uIGZvbnQtc2l6ZSAxcyBlYXNlXHJcblx0XHQgICAgICAgIHRyYW5zaXRpb24gZm9udC1zaXplIDFzIGVhc2VcdFxyXG5cdFx0Y29sb3IgIzNFODYzRFxyXG5cdFx0bWFyZ2luIDIwcHggMCAxZW1cclxuXHRcdGZvbnQtc2l6ZSAyLjRyZW1cclxuXHRcdEBtZWRpYSAobWluLXdpZHRoIDc2OHB4KVxyXG5cdFx0XHRmb250LXNpemUgM3JlbVxyXG5cdGgzXHJcblx0XHQmOm50aC1jaGlsZCgxKVxyXG5cdFx0XHRtYXJnaW4tdG9wIDIwcHggXHJcblx0XHRmb250LXNpemUgMS44cmVtXHJcblx0XHRAbWVkaWEgKG1pbi13aWR0aCA3NjhweClcclxuXHRcdFx0Zm9udC1zaXplIDIuMjVyZW1cclxuXHRcdG1hcmdpbiA0NXB4IDAgMC44ZW1cclxuXHRcdHBhZGRpbmctYm90dG9tIDAuN2VtXHJcblx0XHRib3JkZXItYm90dG9tIDFweCBzb2xpZCAjZGRkIl19 */