doctype html
html(lang="fr-fr")
    head
        meta(charset="utf-8")
        title #{specific.titlePage}
        link(type="text/css", rel="stylesheet", href="stylesheets/" + common.classCssCommon + ".css", media="all")
        link(type="text/css", rel="stylesheet", href="stylesheets/" + specific.classPage + ".css", media="all")
    body(class=specific.classPage)
        div
            h1 #{specific.titlePage}
            | !{specific.content}
            include partials/test.pug
        script(async, type="text/javascript", src="javascripts/" + common.classJsCommon + ".js")