<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Authentification</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/app.css">
    </head>
    <body>
    	<div class="connected">
    		<p>Welcome <span class="nickname"></span></p>
	    	<p>From /api/random-quote : <button class="standard" type="button">Ask !</button></p>
	    	<p>From /api/protected/random-quote : <button class="secret" type="button">Ask with Token</button></p>
    		<p><button class="logout" type="submit">Sign Out</button></p>
    	</div>
    	<div class="disconnected">
    		<button type="submit" class="login">Sign In</button>
    	</div>
        <script src="//cdn.auth0.com/js/lock/10.3.0/lock.min.js"></script>
        <script src="javascripts/app.js"></script>
    </body>
</html>