<div class="connected">
    <p>Welcome <span class="nickname"></span></p>
    <p>From /api/random-quote : <button class="standard" type="button">Ask !</button></p>
    <p>From /api/protected/random-quote : <button class="secret" type="button">Ask with Token</button></p>
    <p><button class="logout" type="submit">Sign Out</button></p>
</div>
<div class="disconnected">
    <button type="submit" class="login">Sign In</button>
</div>