.navigation {
  z-index: 4;
  height: 100px;
  -webkit-transition: background-color 2s linear;
  -moz-transition: background-color 2s linear;
  -ms-transition: background-color 2s linear;
  -o-transition: background-color 2s linear;
  transition: background-color 2s linear;
  position: relative;
}
.navigation .fa-globe {
  margin-right: 4px;
}
.navigation--menu a,
.navigation .fa-chevron-up,
.navigation .fa-chevron-down {
  cursor: pointer;
  font-weight: bold;
  color: #6dbd4d;
}
.navigation--menu a:hover,
.navigation .fa-chevron-up:hover,
.navigation .fa-chevron-down:hover {
  color: #c00;
}
.navigation.is-scrolled,
.navigation.with-animation {
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}
.navigation--inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
  background-color: rgba(255,255,255,0.5);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 13%, rgba(255,255,255,0.8) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 13%, rgba(255,255,255,0.8) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 13%, rgba(255,255,255,0.8) 100%);
}
.navigation.is-scrolled .navigation--inner {
  opacity: 1;
  height: 100%;
}
.navigation--outer {
  z-index: 2;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: height 1s ease, opacity 1s ease;
  -moz-transition: height 1s ease, opacity 1s ease;
  -ms-transition: height 1s ease, opacity 1s ease;
  -o-transition: height 1s ease, opacity 1s ease;
  transition: height 1s ease, opacity 1s ease;
}
.navigation.is-scrolled .navigation--outer {
  height: 0;
  opacity: 0;
}
.navigation--outer .button {
  letter-spacing: 0.1em;
  opacity: 0;
}
.navigation--outer .button.is-loaded {
  opacity: 1;
}
.navigation--start,
.navigation--documentation {
  position: absolute;
  left: 50%;
  -webkit-transition: top 1s ease, left 1s ease;
  -moz-transition: top 1s ease, left 1s ease;
  -ms-transition: top 1s ease, left 1s ease;
  -o-transition: top 1s ease, left 1s ease;
  transition: top 1s ease, left 1s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.navigation--start {
  top: 45%;
}
@media (min-width: 540px) {
  .navigation--start {
    top: 50%;
    left: calc(50% - 130px);
  }
}
.navigation--documentation {
  top: 75%;
}
@media (min-width: 540px) {
  .navigation--documentation {
    top: 50%;
    left: calc(50% + 130px);
  }
}
.navigation--home,
.navigation--lang,
.navigation--menu {
  position: absolute;
}
.navigation--home {
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navigation--home--back {
  font-weight: bold;
  text-shadow: 1px 1px 2px #fff, -1px 1px 2px #fff, 1px -1px 2px #fff, -1px -1px 2px #fff;
  vertical-align: middle;
  font-size: 2rem;
}
.navigation--home--logo {
  cursor: pointer;
  vertical-align: middle;
}
.navigation--home span {
  color: #6dbd4d;
}
.navigation--home span:hover {
  color: #c00;
}
.navigation--lang {
  top: 10px;
  right: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff, -1px 1px 2px #fff, 1px -1px 2px #fff, -1px -1px 2px #fff;
}
.navigation--menu {
  box-shadow: -1px -1px 1px rgba(0,0,0,0.1);
  z-index: 2;
  right: 0;
  bottom: 0;
  padding: 0;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}
@media (min-width: 820px) {
  .navigation--menu {
    background-color: #fff;
    padding: 10px;
  }
}
.navigation--menu--toggle {
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -ms-transition: top 1s ease;
  -o-transition: top 1s ease;
  transition: top 1s ease;
  height: 30px;
  width: 30px;
  top: 50px;
  right: 30px;
  cursor: pointer;
  position: fixed;
}
.navigation--menu--toggle .top,
.navigation--menu--toggle .middle,
.navigation--menu--toggle .bottom {
  -webkit-transition: box-shadow 1s ease;
  -moz-transition: box-shadow 1s ease;
  -ms-transition: box-shadow 1s ease;
  -o-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
  box-shadow: 1px 1px 2px #fff, -1px 1px 2px #fff, 1px -1px 2px #fff, -1px -1px 2px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #6dbd4d;
  display: inline-block;
  width: 28px;
  height: 3px;
}
.navigation--menu--toggle .top {
  -webkit-transition: top 1s ease, left 1s ease, transform 1s ease;
  -moz-transition: top 1s ease, left 1s ease, transform 1s ease;
  -ms-transition: top 1s ease, left 1s ease, transform 1s ease;
  -o-transition: top 1s ease, left 1s ease, transform 1s ease;
  transition: top 1s ease, left 1s ease, transform 1s ease;
  top: 20%;
}
.navigation--menu--toggle .middle {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 1;
}
.navigation--menu--toggle .bottom {
  -webkit-transition: top 1s ease, left 1s ease, transform 1s ease;
  -moz-transition: top 1s ease, left 1s ease, transform 1s ease;
  -ms-transition: top 1s ease, left 1s ease, transform 1s ease;
  -o-transition: top 1s ease, left 1s ease, transform 1s ease;
  transition: top 1s ease, left 1s ease, transform 1s ease;
  top: 80%;
}
@media (min-width: 820px) {
  .navigation--menu--toggle {
    display: none;
  }
}
.navigation--menu--list {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
  display: none;
}
.navigation--menu--list h2 {
  display: none;
}
@media (min-width: 820px) {
  .navigation--menu--list {
    opacity: 1;
    display: block;
  }
}
@media (max-width: 819px) {
  .navigation--menu--list {
    text-align: center;
    background-color: rgba(255,255,255,0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .navigation--menu--list .fa {
    display: none;
  }
  .navigation--menu--list h2 {
    display: block;
    margin-top: 64px;
  }
  .navigation--menu--list ul li {
    display: list-item;
    font-size: 2.6rem;
    margin-bottom: 24px;
  }
  .navigation--menu--list ul li ul {
    width: auto;
    display: block;
    position: static;
  }
  .navigation--menu--list ul li ul li {
    display: block;
    font-size: 1.8rem;
    margin-top: 8px;
    margin-bottom: 0;
  }
}
.navigation--menu ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.navigation--menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 200%;
  left: 0;
  z-index: 3;
  padding-bottom: 8px;
}
.navigation--menu ul ul.is-opened {
  display: block;
  background-color: #fff;
}
.navigation--menu ul ul li {
  display: list-item;
  padding-top: 8px;
  list-style-type: circle;
}
.navigation--menu li {
  position: relative;
  font-size: 1.4rem;
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 819px) {
  .navigation--menu.is-front .navigation--menu--list {
    display: block;
  }
  .navigation--menu.is-opened .navigation--menu--toggle {
    position: fixed;
    z-index: 2;
    top: 20px;
    right: 30px;
  }
  .navigation--menu.is-opened .navigation--menu--toggle .top,
  .navigation--menu.is-opened .navigation--menu--toggle .middle,
  .navigation--menu.is-opened .navigation--menu--toggle .bottom {
    box-shadow: 1px 1px 2px rgba(255,255,255,0), -1px 1px 2px rgba(255,255,255,0), 1px -1px 2px rgba(255,255,255,0), -1px -1px 2px rgba(255,255,255,0);
  }
  .navigation--menu.is-opened .navigation--menu--toggle .top {
    left: 0;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navigation--menu.is-opened .navigation--menu--toggle .middle {
    opacity: 0;
  }
  .navigation--menu.is-opened .navigation--menu--toggle .bottom {
    left: 0;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .navigation--menu.is-opened .navigation--menu--list {
    opacity: 1;
  }
  .navigation--menu.is-opened .navigation--menu--list--inner {
    height: 100%;
    overflow: auto;
  }
}
