.language {
  position: absolute;
  top: 11px;
  left: calc(100% - 200px);
  text-align: left;
  z-index: 5;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
@media (min-width: 364px) {
  .language {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.language.is-loaded {
  opacity: 1;
}
.language.is-scrolled {
  opacity: 0;
}
.header {
  z-index: 2;
  height: 200px;
  position: relative;
}
.header--information {
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -ms-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: calc(100% - 40px);
  text-align: right;
  opacity: 0;
}
.header--information--package {
  display: none;
}
@media (min-width: 720px) {
  .header--information--package {
    display: inline-block;
  }
}
.header--information--github {
  float: left;
}
.header--information--github iframe {
  display: none;
}
@media (min-width: 560px) {
  .header--information--github iframe {
    display: inline-block;
  }
}
.header--information--npm {
  float: right;
}
.header--information--npm iframe {
  display: none;
}
@media (min-width: 364px) {
  .header--information--npm iframe {
    display: inline-block;
  }
}
.header--information.is-loaded {
  opacity: 1;
}
.header--background {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 87%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 87%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 13%, rgba(255,255,255,0) 100%);
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
.header h1 {
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -ms-transition: top 1s ease;
  -o-transition: top 1s ease;
  transition: top 1s ease;
  cursor: pointer;
  z-index: 2;
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 580px) {
  .header h1 {
    top: 50%;
  }
}
.header h2 {
  color: #3e863d;
  font-size: 1.6rem;
}
.header h2 span {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
}
.header h2 strong {
  -webkit-transition: font-size 1s ease;
  -moz-transition: font-size 1s ease;
  -ms-transition: font-size 1s ease;
  -o-transition: font-size 1s ease;
  transition: font-size 1s ease;
  display: block;
  font-size: 2.8rem;
}
.header.is-scrolled .header--background {
  height: 100%;
}
.header.is-scrolled .header--abstract {
  opacity: 0;
}
.header.is-scrolled .header--main--first,
.header.is-scrolled .header--main--second,
.header.is-scrolled .header--main--third {
  opacity: 0;
}
.header.with-animation {
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}
.header--abstract {
  -webkit-transition: top 3s ease, opacity 1s ease;
  -moz-transition: top 3s ease, opacity 1s ease;
  -ms-transition: top 3s ease, opacity 1s ease;
  -o-transition: top 3s ease, opacity 1s ease;
  transition: top 3s ease, opacity 1s ease;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  min-width: 300px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-height: 479px) {
  .header--abstract {
    display: none;
  }
}
.header--abstract.is-loaded {
  top: 20%;
  opacity: 1;
}
.header--main,
.header--abstract {
  text-shadow: 1px 1px 2px rgba(255,255,255,0.6), -1px 1px 2px rgba(255,255,255,0.6), 1px -1px 2px rgba(255,255,255,0.6), -1px -1px 2px rgba(255,255,255,0.6);
}
.header--main {
  cursor: default;
  font-family: "Open Sans";
}
.header--main ul {
  margin: 0;
  padding: 0;
}
.header--main li {
  list-style-type: none;
}
.header--main--first,
.header--main--second,
.header--main--third {
  max-width: 352px;
  bottom: 10%;
  opacity: 0;
  text-align: center;
  position: absolute;
  -webkit-transition: left 2s ease, right 2s ease, bottom 2s ease, opacity 2s ease;
  -moz-transition: left 2s ease, right 2s ease, bottom 2s ease, opacity 2s ease;
  -ms-transition: left 2s ease, right 2s ease, bottom 2s ease, opacity 2s ease;
  -o-transition: left 2s ease, right 2s ease, bottom 2s ease, opacity 2s ease;
  transition: left 2s ease, right 2s ease, bottom 2s ease, opacity 2s ease;
}
.header--main--first h2 span,
.header--main--second h2 span,
.header--main--third h2 span {
  opacity: 0;
}
.header--main--first p,
.header--main--second p,
.header--main--third p {
  display: none;
}
.header--main--first p strong,
.header--main--second p strong,
.header--main--third p strong {
  font-size: 1.8rem;
}
@media (min-width: 540px) {
  .header--main--first h2 span,
  .header--main--second h2 span,
  .header--main--third h2 span {
    opacity: 1;
  }
}
@media (min-width: 920px) {
  .header--main--first,
  .header--main--second,
  .header--main--third {
    bottom: -5%;
  }
  .header--main--first p,
  .header--main--second p,
  .header--main--third p {
    display: block;
  }
  .header--main--first h2 span,
  .header--main--second h2 span,
  .header--main--third h2 span {
    opacity: 0;
  }
}
.header--main--first:hover h2 strong,
.header--main--second:hover h2 strong,
.header--main--third:hover h2 strong {
  font-size: 3.6rem;
}
.header--main--first:hover h2 span,
.header--main--second:hover h2 span,
.header--main--third:hover h2 span {
  opacity: 1;
}
.header--main--first.is-loaded,
.header--main--second.is-loaded,
.header--main--third.is-loaded {
  opacity: 1;
}
@media (max-height: 619px) {
  .header--main--first p,
  .header--main--second p,
  .header--main--third p {
    display: none;
  }
}
.header--main--first {
  left: 0%;
  width: 50%;
}
@media (min-width: 540px) {
  .header--main--first {
    width: 26%;
  }
}
@media (max-width: 539px) {
  .header--main--first {
    bottom: 25%;
  }
}
.header--main--first.is-loaded {
  left: 25%;
}
@media (min-width: 540px) {
  .header--main--first.is-loaded {
    left: 7%;
  }
}
.header--main--second {
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50%;
}
@media (min-width: 540px) {
  .header--main--second {
    width: 26%;
  }
}
.header--main--second.is-loaded {
  bottom: -5%;
}
.header--main--third {
  right: 0;
  width: 50%;
}
@media (min-width: 540px) {
  .header--main--third {
    width: 26%;
  }
}
.header--main--third.is-loaded {
  right: 25%;
}
@media (min-width: 540px) {
  .header--main--third.is-loaded {
    right: 7%;
  }
}
.header--title--node {
  -webkit-transition: top 2s ease, opacity 2s ease;
  -moz-transition: top 2s ease, opacity 2s ease;
  -ms-transition: top 2s ease, opacity 2s ease;
  -o-transition: top 2s ease, opacity 2s ease;
  transition: top 2s ease, opacity 2s ease;
  opacity: 0;
  z-index: 3;
  width: 83%;
  position: absolute;
  top: -106%;
  left: 39%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header--title--node.is-loaded {
  top: 26%;
  opacity: 1;
}
.header--title--atlas {
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 3s ease;
  -moz-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  -o-transition: opacity 3s ease;
  transition: opacity 3s ease;
  opacity: 0;
  width: 100%;
}
.header--title--atlas.is-loaded {
  opacity: 1;
}
.header--title--trans {
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -ms-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
.header--title--trans.is-loaded {
  opacity: 1;
}
