@import "variables"

.download
	&.with-animation
		-webkit-transition height 1s ease 
		   -moz-transition height 1s ease 
		    -ms-transition height 1s ease 
		     -o-transition height 1s ease 
		        transition height 1s ease 
	height 0
	overflow hidden
	background-color rgba(255, 255, 255, .9)
	&.is-scrolled
		height 150px 