			<aside class="download cmpt">
				<div class="download--inner">
					<div class="download--install">
						<div class="download--cli is-active">
							<h2><?- common.download.cli.title ?></h2>
							<div class="download--cli--inner">
								<div class="download--cli--step1">
									<h3><?- common.download.cli.step1.title ?></h3>
									<pre>&gt; npm install -g node-atlas</pre>
								</div>					
								<div class="download--cli--step2">
									<h3><?- common.download.cli.step2.title ?></h3>
									<pre>&gt; nodeatlas --create</pre>
								</div>					
								<div class="download--cli--step3">
									<h3><?- common.download.cli.step3.title ?></h3>
									<pre>&gt; nodeatlas --browse</pre>
								</div>
							</div>							
						</div>
						<div class="download--api">
							<h2><?- common.download.api.title ?></h2>
							<div class="download--api--inner">
								<div class="download--api--step1">
									<h3><?- common.download.api.step1.title ?></h3>
									<pre>&gt; npm install node-atlas</pre>
								</div>
								<div class="download--api--step2">
									<h3><?- common.download.api.step2.title ?></h3>
									<pre><span>server.js</span>var NA = require("node-atlas"),
    website = NA();
website.init({
    "create": true
}).created(function () {
    website.run({
        "browse": true
    });
}).start();</pre>
								</div>
								<div class="download--api--step3">
									<h3><?- common.download.api.step3.title ?></h3>
									<pre>&gt; node server.js</pre>
								</div>
							</div>
						</div>
					</div>
					<div class="download--clone">
						<div class="download--version">						
							<h2><?- common.download.version.title ?></h2>
							<div class="download--version--inner">
								<div class="download--version--step1">
									<h3>v2.0.0-beta</h3>
									<p class="download--clone--last"><a class="button" href="https://github.com/Haeresis/NodeAtlas/archive/master.zip" target="_blank"><?- common.download.version.step1.last ?></a></p>
									<p class="aside"><a href="https://github.com/Haeresis/NodeAtlas/releases"><?- common.download.version.step1.stable ?></a></p>
								</div>
								<div class="download--version--step2">
									<h3><?- common.download.version.step2.title ?></h3>
									<p><input type="text" name="clone" data-instruction="<?= common.download.version.step2.copy ?>" class="download--clone--text" value="https://github.com/Haeresis/NodeAtlas.git"><button><span class="fa fa-clipboard" aria-hidden="true"></span></button></p>
								</div>
							</div>
						</div>
					</div>
					<div class="download--battle">
						<div class="download--slide">
							<h2><?- common.download.battle.title ?></h2>
							<div class="download--slide--inner">
								<div class="download--slide--step1">
									<?- common.download.battle.step1.title ?>
								</div>
								<div class="download--slide--step2">
									<?- common.download.battle.step1.versus ?>
								</div>
								<div class="download--slide--step3">
									<?- common.download.battle.step1.challenger ?>
								</div>
								<div class="download--slide--step4">
									<span class="fa fa-refresh" aria-hidden="true">
								</div>
							</div>
						</div>
					</div>
					<div class="download--info">
						<div class="download--tuto is-active">
							<h2><?- common.download.tuto.title ?></h2>
							<div class="download--tuto--inner">
								<div class="download--tuto--step1">
									<a href="<?- common.download.tuto.step0.href ?>"><span><?- common.download.tuto.step0.title ?></span> <i class="fa fa-book" aria-hidden="true"></i> <?- common.download.tuto.step0.description ?></a>
								</div>
								<div class="download--tuto--step2">
									<span><?- common.download.tuto.or ?></span>
								</div>
								<div class="download--tuto--step3">
									<div class="download--tuto--step3--first">
										<a href="<?- common.download.tuto.step1.href ?>"><span><?- common.download.tuto.step1.title ?></span> <i class="fa fa-html5" aria-hidden="true"></i> <?- common.download.tuto.step1.description ?></a>
									</div>
									<div class="download--tuto--step3--second">
										<a href="<?- common.download.tuto.step2.href ?>"><span><?- common.download.tuto.step2.title ?></span> <i class="fa fa-copy" aria-hidden="true"></i> <?- common.download.tuto.step2.description ?></a>
									</div>
									<div class="download--tuto--step3--third">
										<a href="<?- common.download.tuto.step3.href ?>"><span><?- common.download.tuto.step3.title ?></span> <i class="fa fa-database" aria-hidden="true"></i> <?- common.download.tuto.step3.description ?></a>
									</div>
								</div>
							</div>
						</div>
						<div class="download--about">
							<h2><?- common.download.abstract.title ?></h2>
							<div class="download--about--inner">
								<div class="download--about--step1">
									<?= common.download.abstract.description ?>
								</div>
							</div>
						</div>
					</div>
				</div>
			</aside>