		</div>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
		<? if (webconfig._min) { ?>
		<script src="javascript/common.min.js"></script>
		<? } else { ?>
		<script src="javascript/cmpt.header.js"></script>
		<script src="javascript/cmpt.popup.js"></script>
		<script src="javascript/cmpt.download.js"></script>
		<script src="javascript/cmpt.navigation.js"></script>
		<script src="javascript/cmpt.content.js"></script>
		<script src="javascript/common.js"></script>
		<? }  ?>
		<script src="https://buttons.github.io/buttons.js"></script>
	</body>
</html>