			<nav class="navigation cmpt">
				<div class="navigation--outer">
					<div class="navigation--start"><?- common.goto.start ?></div>
					<div class="navigation--documentation"><?- common.goto.documentation ?></div>
				</div>
				<div class="navigation--inner">
					<div class="navigation--lang">
						<a href="<?= (!webconfig._min) ? urlBasePath.replace(webconfig.httpPort, webconfig._otherPort) : '' ?>/<?= common.lang.url ?>" title="<?= common.lang.title ?>"><span class="fa fa-globe"></span>  <?- common.lang.title ?></a>
					</div>
					<div class="navigation--home">
						<img class="navigation--home--logo" src="media/images/logo.png" alt="<?- common.home.title ?>" width="80px"> <a class="navigation--home--back" href="<?= common.home.url ?>" title="<?= common.home.title ?>"><?- common.home.title ?></a>
					</div>
					<div class="navigation--menu">
						<div class="navigation--menu--toggle">
							<span class="top"></span>
							<span class="middle"></span>
							<span class="bottom"></span>
						</div>
						<div class="navigation--menu--list">
							<div class="navigation--menu--list--inner">
								<h2>Menu</h2>
								<ul>
									<? for (var i = 0; i < common.menu.length; i++) { ?>
									<li>
										<? if (common.menu[i].menu) { ?>
										<span><?- common.menu[i].title ?></span>
										<i class="fa fa-chevron-down" aria-hidden="true"></i>
										<ul>
											<? for (var j = 0; j < common.menu[i].menu.length; j++) { ?>
											<li>
												<a href="<?= common.menu[i].menu[j].url ?>" title="<?= common.menu[i].menu[j].title ?>"><?- common.menu[i].menu[j].title ?></a>
											</li>
											<? } ?>
										</ul>
										<? } else { ?>
										<a href="<?= common.menu[i].url ?>" title="<?= common.menu[i].title ?>"><?- common.menu[i].title ?></a>
										<? } ?>
									</li>
									<? } ?>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>