<div class="layout">
	<div class="session">
		<div v-html="me.sessionID && (common.session + me.sessionID.substring(0,8))"></div>
		<input v-model="me.description" v-on:keyup="send" autofocus></input>
	</div>
	<nav class="menu">
		<ul>
			<li v-for="item in common.menu">
				<router-link v-bind:to="webconfig.routes[item.key].url" v-bind:href="webconfig.routes[item.key].url" v-bind:title="item.title" v-bind:exact="webconfig.routes[item.key].url === '/'">{{ item.title }}</router-link>
			</li>
		</ul>
	</nav>
	<transition name="fade-in-out">
		<router-view v-bind:common="common" v-bind:me="me"></router-view>
	</transition>
	<footer class="footer" v-html="common.copyright"></footer>
</div>