<!DOCTYPE html>
<html lang="<?= languageCode ?>">
	<head>
		<meta charset="utf-8" />
		<title>NodeAtlas</title>

		<base href="<?= urlBasePath ?>" />

		<meta name="description" content="NodeAtlas is a MVC2 Javascript Framework Front-end-oriented, SEO and W3C compliant." />
		<meta name="geo.placename" content="Annecy, Haute-Savoie, France" />

		<meta name="robots" content="index, follow" />

		<!--[if IE]><meta name="viewport" content="width=device-width, user-scalable=no" /><![endif]-->
		<!--[if !IE]><!--><meta name="viewport" content="initial-scale=1.0, user-scalable=no" /><!--<![endif]-->
	</head>
	<body>
		<div class="layout">
			<noscript class="no-js cmpt">
				<p>Le JavaScript n'est pas activé.</p>
			</noscript>