html {
  font-size: 62.5%;
  font-family: "lato";
  height: 100%;
  min-height: 100%;
}
body {
  -webkit-transition: background-position 2s ease;
  -moz-transition: background-position 2s ease;
  -ms-transition: background-position 2s ease;
  -o-transition: background-position 2s ease;
  transition: background-position 2s ease;
  min-height: 100%;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-image: url("../media/images/min/base.jpg");
  background-position: center 0;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  color: #48739e;
  text-decoration: none;
}
a:visited {
  color: #48739e;
}
a:hover {
  color: #c00;
}
.background {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255,255,255,0.8) 0.1em, rgba(255,255,255,0.4));
  background-size: 100% 2px;
}
.background.is-scrolled {
  opacity: 0;
}
.small {
  font-size: 0.9em;
}
a.button,
.button {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: opacity 3s ease;
  -moz-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  -o-transition: opacity 3s ease;
  transition: opacity 3s ease;
  font-family: "lato";
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 1px 1px 2px rgba(255,255,255,0.6), -1px 1px 2px rgba(255,255,255,0.6), 1px -1px 2px rgba(255,255,255,0.6), -1px -1px 2px rgba(255,255,255,0.6);
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #669f64;
  background-image: -webkit-linear-gradient(top, #75b95d 0%, #40863f 33%, #6fa460 66%, #3e863d 100%);
  background-image: -moz-linear-gradient(top, #75b95d 0%, #40863f 33%, #6fa460 66%, #3e863d 100%);
  background-image: linear-gradient(to bottom, #75b95d 0%, #40863f 33%, #6fa460 66%, #3e863d 100%);
  box-sizing: border-box;
  border: 1px solid #4fc08d;
}
a.button:hover,
.button:hover {
  color: #669f64;
  background-color: #fff;
  background-image: none;
}
.aside {
  margin: 0;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFzc2V0cy9zdHlsZXNoZWV0cy9jb21tb24uc3R5bCIsImFzc2V0cy9zdHlsZXNoZWV0cy92YXJpYWJsZXMuc3R5bCJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQTtFQUNDLFdBQVUsTUFBVjtFQUNBLGFBQVksT0FBWjtFQUNBLFFBQU8sS0FBUDtFQUNBLFlBQVcsS0FBWDs7QUFDRDtFQUNDLG9CQUFtQiw0QkFBbkI7RUFDRyxpQkFBZ0IsNEJBQWhCO0VBQ0MsZ0JBQWUsNEJBQWY7RUFDQyxlQUFjLDRCQUFkO0VBQ0csWUFBVyw0QkFBWDtFQUNSLFlBQVcsS0FBWDtFQ1pBLFdBQVUsT0FBVjtFRGNBLFFBQU8sRUFBUDtFQUNBLFNBQVEsRUFBUjtFQUNBLHVCQUFzQixNQUF0QjtFQUNBLGtCQUFtRCxvQ0FBbkQ7RUFDQSxxQkFBcUIsU0FBckI7RUFDQSx5QkFBd0IsTUFBeEI7RUFDSyxvQkFBbUIsTUFBbkI7RUFDRyxpQkFBZ0IsTUFBaEI7O0FBQ1Q7RUFDQyxPQUFNLFFBQU47RUFDQSxpQkFBZ0IsS0FBaEI7O0FBQ0E7RUFDQyxPQUFNLFFBQU47O0FBQ0Q7RUFDQyxPQUFNLEtBQU47O0FBQ0Y7RUFDQyxvQkFBbUIsZ0JBQW5CO0VBQ0csaUJBQWdCLGdCQUFoQjtFQUNDLGdCQUFlLGdCQUFmO0VBQ0MsZUFBYyxnQkFBZDtFQUNHLFlBQVcsZ0JBQVg7RUFDUixTQUFRLEVBQVI7RUFDQSxVQUFTLFNBQVQ7RUFDQSxLQUFJLEVBQUo7RUFDQSxNQUFLLEVBQUw7RUFDQSxPQUFNLEtBQU47RUFDQSxRQUFPLEtBQVA7RUFDQSxrQkFBd0Ysb0VBQXhGO0VBQ0EsaUJBQWdCLFNBQWhCOztBQUNBO0VBQ0MsU0FBUSxFQUFSOztBQUNGO0VBQ0MsV0FBVSxNQUFWOztBQUNEO0FBQ0E7RUFDQyxRQUFPLFFBQVA7RUFDQSxpQkFBZ0IsS0FBaEI7RUFDQSxvQkFBbUIsZ0JBQW5CO0VBQ0csaUJBQWdCLGdCQUFoQjtFQUNDLGdCQUFlLGdCQUFmO0VBQ0MsZUFBYyxnQkFBZDtFQUNHLFlBQVcsZ0JBQVg7RUFDUixhQUFZLE9BQVo7RUFDQSxXQUFVLE9BQVY7RUFDQSxhQUFZLEtBQVo7RUFDQSxZQUErQywrSUFBL0M7RUFDQSxTQUFRLFdBQVI7RUFDQSxlQUFjLElBQWQ7RUFDQSxTQUFRLGFBQVI7RUFDQSxPQUEyQixLQUEzQjtFQUNBLGtCQUFzQyxRQUF0QztFQUNBLGtCQUF3SSxpRkFBeEk7RUFDQSxrQkFBMkksOEVBQTNJO0VBQ0Esa0JBQThJLCtFQUE5STtFQUNBLFlBQVcsV0FBWDtFQUNBLFFBQU8sa0JBQVA7O0FBQ0E7O0VBQ0MsT0FBMkIsUUFBM0I7RUFDQSxrQkFBaUIsS0FBakI7RUFDQSxrQkFBaUIsS0FBakI7O0FBQ0Y7RUFDQyxRQUFPLEVBQVAiLCJmaWxlIjoiY29tbW9uLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCJ2YXJpYWJsZXNcIlxyXG5cclxuaHRtbFxyXG5cdGZvbnQtc2l6ZSA2Mi41JSBcclxuXHRmb250LWZhbWlseSBcImxhdG9cIlxyXG5cdGhlaWdodCAxMDAlXHJcblx0bWluLWhlaWdodCAxMDAlXHJcbmJvZHlcclxuXHQtd2Via2l0LXRyYW5zaXRpb24gYmFja2dyb3VuZC1wb3NpdGlvbiAycyBlYXNlIFxyXG5cdCAgIC1tb3otdHJhbnNpdGlvbiBiYWNrZ3JvdW5kLXBvc2l0aW9uIDJzIGVhc2UgXHJcblx0ICAgIC1tcy10cmFuc2l0aW9uIGJhY2tncm91bmQtcG9zaXRpb24gMnMgZWFzZSBcclxuXHQgICAgIC1vLXRyYW5zaXRpb24gYmFja2dyb3VuZC1wb3NpdGlvbiAycyBlYXNlIFxyXG5cdCAgICAgICAgdHJhbnNpdGlvbiBiYWNrZ3JvdW5kLXBvc2l0aW9uIDJzIGVhc2VcclxuXHRtaW4taGVpZ2h0IDEwMCVcclxuXHRzdGFuZGFyZC1zaXplKClcclxuXHRtYXJnaW4gMFxyXG5cdHBhZGRpbmcgMFxyXG5cdGJhY2tncm91bmQtYXR0YWNobWVudCBmaXhlZFxyXG5cdGJhY2tncm91bmQtaW1hZ2UgdXJsKCcuLi9tZWRpYS9pbWFnZXMvbWluL2Jhc2UuanBnJylcclxuXHRiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXIgMFxyXG5cdC13ZWJraXQtYmFja2dyb3VuZC1zaXplIGNvdmVyIFxyXG5cdCAgICAgLW8tYmFja2dyb3VuZC1zaXplIGNvdmVyIFxyXG5cdCAgICAgICAgYmFja2dyb3VuZC1zaXplIGNvdmVyXHJcbmFcclxuXHRjb2xvciAjNDg3MzlFXHJcblx0dGV4dC1kZWNvcmF0aW9uIG5vbmVcclxuXHQmOnZpc2l0ZWRcclxuXHRcdGNvbG9yICM0ODczOUVcclxuXHQmOmhvdmVyXHJcblx0XHRjb2xvciAjQzAwXHJcbi5iYWNrZ3JvdW5kXHJcblx0LXdlYmtpdC10cmFuc2l0aW9uIG9wYWNpdHkgMXMgZWFzZSBcclxuXHQgICAtbW96LXRyYW5zaXRpb24gb3BhY2l0eSAxcyBlYXNlIFxyXG5cdCAgICAtbXMtdHJhbnNpdGlvbiBvcGFjaXR5IDFzIGVhc2UgXHJcblx0ICAgICAtby10cmFuc2l0aW9uIG9wYWNpdHkgMXMgZWFzZSBcclxuXHQgICAgICAgIHRyYW5zaXRpb24gb3BhY2l0eSAxcyBlYXNlIFxyXG5cdG9wYWNpdHkgMVxyXG5cdHBvc2l0aW9uIGFic29sdXRlXHJcblx0dG9wIDBcclxuXHRsZWZ0IDBcclxuXHR3aWR0aCAxMDAlXHJcblx0aGVpZ2h0IDEwMCUgXHJcblx0YmFja2dyb3VuZC1pbWFnZSBsaW5lYXItZ3JhZGllbnQocmdiYSgyNTUsIDI1NSwgMjU1LCAwLjgpIC4xZW0sIHJnYmEoMjU1LCAyNTUsIDI1NSwgMC40KSlcclxuXHRiYWNrZ3JvdW5kLXNpemUgMTAwJSAycHhcclxuXHQmLmlzLXNjcm9sbGVkXHJcblx0XHRvcGFjaXR5IDBcclxuLnNtYWxsXHJcblx0Zm9udC1zaXplIDAuOWVtIFxyXG5hLmJ1dHRvblxyXG4uYnV0dG9uXHJcblx0Y3Vyc29yIHBvaW50ZXJcclxuXHR0ZXh0LWRlY29yYXRpb24gbm9uZVxyXG5cdC13ZWJraXQtdHJhbnNpdGlvbiBvcGFjaXR5IDNzIGVhc2VcclxuXHQgICAtbW96LXRyYW5zaXRpb24gb3BhY2l0eSAzcyBlYXNlXHJcblx0ICAgIC1tcy10cmFuc2l0aW9uIG9wYWNpdHkgM3MgZWFzZVxyXG5cdCAgICAgLW8tdHJhbnNpdGlvbiBvcGFjaXR5IDNzIGVhc2VcclxuXHQgICAgICAgIHRyYW5zaXRpb24gb3BhY2l0eSAzcyBlYXNlXHJcblx0Zm9udC1mYW1pbHkgXCJsYXRvXCJcclxuXHRmb250LXNpemUgMS41cmVtXHJcblx0Zm9udC13ZWlnaHQgYm9sZFxyXG5cdGJveC1zaGFkb3cgMXB4IDFweCAycHggcmdiYSgyNTUsIDI1NSwgMjU1LCAwLjYpLCAtMXB4IDFweCAycHggcmdiYSgyNTUsIDI1NSwgMjU1LCAwLjYpLCAxcHggLTFweCAycHggcmdiYSgyNTUsIDI1NSwgMjU1LCAwLjYpLCAtMXB4IC0xcHggMnB4IHJnYmEoMjU1LCAyNTUsIDI1NSwgMC42KVxyXG5cdHBhZGRpbmcgMC43NWVtIDJlbVxyXG5cdGJvcmRlci1yYWRpdXMgMmVtXHJcblx0ZGlzcGxheSBpbmxpbmUtYmxvY2tcclxuXHRjb2xvciByZ2JhKDI1NSwgMjU1LCAyNTUsIDEpXHJcblx0YmFja2dyb3VuZC1jb2xvciByZ2JhKDEwMiwgMTU5LCAxMDAsIDEpXHJcblx0YmFja2dyb3VuZC1pbWFnZSAtd2Via2l0LWxpbmVhci1ncmFkaWVudCh0b3AsICByZ2JhKDExNywxODUsOTMsMSkgMCUscmdiYSg2NCwxMzQsNjMsMSkgMzMlLHJnYmEoMTExLDE2NCw5NiwxKSA2NiUscmdiYSg2MiwxMzQsNjEsMSkgMTAwJSk7XHJcblx0YmFja2dyb3VuZC1pbWFnZSAgICAtbW96LWxpbmVhci1ncmFkaWVudCh0b3AsICByZ2JhKDExNywxODUsOTMsMSkgMCUsIHJnYmEoNjQsMTM0LDYzLDEpIDMzJSwgcmdiYSgxMTEsMTY0LDk2LDEpIDY2JSwgcmdiYSg2MiwxMzQsNjEsMSkgMTAwJSk7XHJcblx0YmFja2dyb3VuZC1pbWFnZSAgICAgICAgIGxpbmVhci1ncmFkaWVudCh0byBib3R0b20sICByZ2JhKDExNywxODUsOTMsMSkgMCUscmdiYSg2NCwxMzQsNjMsMSkgMzMlLHJnYmEoMTExLDE2NCw5NiwxKSA2NiUscmdiYSg2MiwxMzQsNjEsMSkgMTAwJSk7XHJcblx0Ym94LXNpemluZyBib3JkZXItYm94XHJcblx0Ym9yZGVyIDFweCBzb2xpZCAjNGZjMDhkXHJcblx0Jjpob3ZlclxyXG5cdFx0Y29sb3IgcmdiYSgxMDIsIDE1OSwgMTAwLCAxKVxyXG5cdFx0YmFja2dyb3VuZC1jb2xvciAjZmZmXHJcblx0XHRiYWNrZ3JvdW5kLWltYWdlIG5vbmVcclxuLmFzaWRlXHJcblx0bWFyZ2luIDAgIiwic3RhbmRhcmQtc2l6ZSgpXHJcblx0Zm9udC1zaXplIDEuNHJlbSAgIl19 */