			<aside class="download cmpt">
				<div class="download--inner">
					<div class="download--install">
						<div class="download--cli is-active">
							<h2><%- common.download.cli.title %></h2>
							<div class="download--cli--inner">
								<div class="download--cli--step1">
									<h3><%- common.download.cli.step1.title %></h3>
									<pre>&gt; npm install -g node-atlas</pre>
								</div>					
								<div class="download--cli--step2">
									<h3><%- common.download.cli.step2.title %></h3>
									<pre>&gt; nodeatlas --init</pre>
								</div>					
								<div class="download--cli--step3">
									<h3><%- common.download.cli.step3.title %></h3>
									<pre>&gt; nodeatlas --browse</pre>
								</div>
							</div>							
						</div>
						<div class="download--api">
							<h2><%- common.download.api.title %></h2>
							<div class="download--api--inner">
								<div class="download--api--step1">
									<h3><%- common.download.api.step1.title %></h3>
									<pre>&gt; npm install node-atlas</pre>
								</div>
								<div class="download--api--step2">
									<h3><%- common.download.api.step2.title %></h3>
									<pre><span>server.js</span>var NA = require("node-atlas"),
	website = NA();
website.config({
    "init": true
}).afterInitProject(function () {
    website.run({
		"browse": true
	});
}).init();</pre>
								</div>
								<div class="download--api--step3">
									<h3><%- common.download.api.step3.title %></h3>
									<pre>&gt; node server.js</pre>
								</div>
							</div>
						</div>
					</div>
					<div class="download--clone">
						<div class="download--version">						
							<h2><%- common.download.version.title %></h2>
							<div class="download--version--inner">
								<div class="download--version--step1">
									<h3>v1.7.0</h3>
									<p class="download--clone--last"><a class="button" href="https://github.com/Haeresis/NodeAtlas/archive/master.zip" target="_blank"><%- common.download.version.step1.last %></a></p>
									<p class="aside"><a href="https://github.com/Haeresis/NodeAtlas/releases"><%- common.download.version.step1.stable %></a></p>
								</div>
								<div class="download--version--step2">
									<h3><%- common.download.version.step2.title %></h3>
									<p><input type="text" name="clone" data-instruction="<%= common.download.version.step2.copy %>" class="download--clone--text" value="https://github.com/Haeresis/NodeAtlas.git"><button><span class="fa fa-clipboard" aria-hidden="true"></span></button></p>
								</div>
							</div>
						</div>
					</div>
					<div class="download--plugin">
						<div class="download--plugin--inner">
							<%= common.download.soon %>
						</div>
					</div>
					<div class="download--info">
						<div class="download--info--inner">
							<%= common.download.soon %>
						</div>
					</div>
				</div>
			</aside>