			<% if (webconfig._min) { %>
			<script src="javascript/common.min.js"></script>
			<% } else { %>
			<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  					integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  					crossorigin="anonymous"></script>
			<script src="javascript/prettify.js"></script>
			<script src="javascript/cmpt.header.js"></script>
			<script src="javascript/cmpt.download.js"></script>
			<script src="javascript/cmpt.navigation.js"></script>
			<script src="javascript/cmpt.content.js"></script>
			<script src="javascript/common.js"></script>
			<% }  %>
		</div>
	</body>
</html>