			<header class="header cmpt">
				<div class="header--inner">
					<div class="header--background"></div>
					<div class="header--title">
						<h1>
							<img class="header--title--node" src="<%= (!webconfig._min) ? common.titlePre.src.replace('/min/', '/') : common.titlePre.src %>" alt="<%= common.titlePre.alt %>">
							<img class="header--title--atlas" src="<%= (!webconfig._min) ? common.title.src.replace('/min/', '/') : common.title.src %>" alt="<%= common.title.alt %>">
						</h1>
					</div>
					<div class="header--abstract">
						<p>Le Framework JavaScript Serveur MVC(2)</strong></p>
					</div>
					<div class="header--main">
						<ul>
							<li>
								<div class="header--main--first">
									<h2><span>Mise en place</span> <strong>Simple</strong></h2>
									<p>Au point avec <strong>HTML &amp; CSS</strong> ?<br><strong>Débutant</strong> en JavaScript ?</p>
									<p class="small">Réalisez rapidement des sites vitrines multilingues sans effort avec de simple Routes, Views ou Variations.</p>
								</div>
							</li>
							<li>
								<div class="header--main--second">
									<h2><span>Site vivant et</span> <strong>Évolutif</strong></h2>
									<p><strong>Expert</strong> en JavaScript client ?<br>Prêt à embrasser <strong>Node.js</strong> ?</p>
									<p class="small">Améliorer progressivement votre base à mesure de vos besoins en utilisant des Controllers, Modèles ou Modules.</p>
								</div>
							</li>
							<li>
								<div class="header--main--third">
									<h2><span>Partie Cliente</span> <strong>Agnostique</strong></h2>
									<p>Déjà vos habitudes <strong>Front-end</strong> ?<br>Habitué(e) du <strong>Data Binding</strong> ?</p>
									<p class="small">Du léger Vanilla JS au simple jQuery en passant par Vue, Angular ou React : utiliser vos outils clients favoris !</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</header>