.content {
  position: relative;
  box-shadow: -2px 0 5px #000;
  font-size: 1.5rem;
  line-height: 2rem;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  padding: 0.1rem;
  overflow: hidden;
  background-color: #fff;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content .table {
  width: 100%;
  overflow-y: auto;
}
.content table,
.content tr,
.content td,
.content th {
  border: 1px solid #eceeef;
}
.content td {
  padding: 4px;
}
.content td:nth-child(1) {
  font-weight: bold;
}
.content li code,
.content p code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
  background-color: #f8f8f8;
  font-family: monospace;
  font-size: 1em;
}
.content.with-animation {
  opacity: 1;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}
@media (min-width: 768px) {
  .content {
    padding: 16px;
  }
}
.content--outer {
  -webkit-transition: opacity 0.5s ease, width 1s ease;
  -moz-transition: opacity 0.5s ease, width 1s ease;
  -ms-transition: opacity 0.5s ease, width 1s ease;
  -o-transition: opacity 0.5s ease, width 1s ease;
  transition: opacity 0.5s ease, width 1s ease;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
  width: 0;
  height: 100%;
}
.content--outer.is-hidden {
  opacity: 0;
}
@media (min-width: 768px) {
  .content--outer {
    width: 300px;
  }
}
.content--inner {
  -webkit-transition: height 1s ease, opacity 1s ease, margin-left 1s ease;
  -moz-transition: height 1s ease, opacity 1s ease, margin-left 1s ease;
  -ms-transition: height 1s ease, opacity 1s ease, margin-left 1s ease;
  -o-transition: height 1s ease, opacity 1s ease, margin-left 1s ease;
  transition: height 1s ease, opacity 1s ease, margin-left 1s ease;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  opacity: 1;
}
@media (min-width: 768px) {
  .content--inner {
    margin-left: 310px;
    width: calc(100% - 310px);
  }
}
.content--inner.is-blocked {
  overflow: hidden;
}
.content--inner.is-hidden {
  opacity: 0;
  height: 0;
}
.content h2 {
  -webkit-transition: font-size 1s ease;
  -moz-transition: font-size 1s ease;
  -ms-transition: font-size 1s ease;
  -o-transition: font-size 1s ease;
  transition: font-size 1s ease;
  color: #3e863d;
  margin: 20px 0 1em;
  line-height: 3rem;
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  .content h2 {
    font-size: 3rem;
  }
}
.content h3 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 1.3em 0 0.8em;
  padding: 0.7em 0;
  border-bottom: 1px solid #ddd;
}
.content h3:nth-child(1) {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .content h3 {
    font-size: 2.25rem;
  }
}
.content h2,
.content h3 {
  position: relative;
  cursor: pointer;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.content h2:hover::before,
.content h3:hover::before {
  content: "\f13d";
  font-family: "FontAwesome";
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  text-align: center;
  top: 50%;
  right: calc(100% + 2px);
  width: 18px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.5em;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFzc2V0cy9zdHlsZXNoZWV0cy9jbXB0LmNvbnRlbnQuc3R5bCJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQTtFQUNDLFVBQVMsU0FBVDtFQXdCQSxZQUFXLGdCQUFYO0VBQ0EsV0FBVSxPQUFWO0VBQ0EsYUFBYSxLQUFiO0VBQ0EsU0FBUSxFQUFSO0VBQ0Esb0JBQW1CLGdCQUFuQjtFQUNHLGlCQUFnQixnQkFBaEI7RUFDQyxnQkFBZSxnQkFBZjtFQUNDLGVBQWMsZ0JBQWQ7RUFDRyxZQUFXLGdCQUFYO0VBUVIsU0FBUSxPQUFSO0VBQ0EsVUFBUyxPQUFUO0VBQ0Esa0JBQXNDLEtBQXRDO0VBQ0EsU0FBUSxJQUFSO0VBQ0Esb0JBQW1CLFdBQW5CO0VBQ0csaUJBQWdCLFdBQWhCO0VBQ0ssWUFBVyxXQUFYO0VBR1Isb0JBQW1CLFdBQW5CO0VBQ0csaUJBQWdCLFdBQWhCO0VBQ0ssWUFBVyxXQUFYOztBQWxEUjtFQUNDLE9BQU0sS0FBTjtFQUNBLFlBQVcsS0FBWDs7QUFDRDtBQUNBO0FBQ0E7QUFDQTtFQUNDLFFBQU8sa0JBQVA7O0FBQ0Q7RUFDQyxTQUFRLElBQVI7O0FBQ0Q7RUFDQyxhQUFZLEtBQVo7O0FBR0E7O0VBQ0MsT0FBTSxRQUFOO0VBQ0EsU0FBUSxRQUFSO0VBQ0EsUUFBTyxNQUFQO0VBQ0EsZUFBYyxJQUFkO0VBQ0EsYUFBWSxPQUFaO0VBQ0Esa0JBQWtCLFFBQWxCO0VBQ0EsYUFBWSxVQUFaO0VBQ0EsV0FBVSxJQUFWOztBQVVGO0VBQ0MsU0FBUSxFQUFSO0VBQ0Esb0JBQW1CLGVBQW5CO0VBQ0csaUJBQWdCLGVBQWhCO0VBQ0MsZ0JBQWUsZUFBZjtFQUNDLGVBQWMsZUFBZDtFQUNHLFlBQVcsZUFBWDs7QUFRYztBQUFBO0lBQ3RCLFNBQVEsS0FBUjs7O0FBSUQ7RUFDQyxvQkFBbUMsaUNBQW5DO0VBQ0csaUJBQWdDLGlDQUFoQztFQUNDLGdCQUErQixpQ0FBL0I7RUFDQyxlQUE4QixpQ0FBOUI7RUFDRyxZQUEyQixpQ0FBM0I7RUFDUixTQUFRLEVBQVI7RUFHQSxVQUFTLFNBQVQ7RUFDQSxLQUFJLEtBQUo7RUFDQSxNQUFLLEtBQUw7RUFDQSxVQUFTLE9BQVQ7RUFDQSxPQUFNLEVBQU47RUFDQSxRQUFPLEtBQVA7O0FBUEE7RUFDQyxTQUFRLEVBQVI7O0FBT3NCO0FBQUE7SUFDdEIsT0FBTSxNQUFOOzs7QUFDRjtFQUNDLG9CQUFpQyxxREFBakM7RUFDRyxpQkFBOEIscURBQTlCO0VBQ0MsZ0JBQTZCLHFEQUE3QjtFQUNDLGVBQTRCLHFEQUE1QjtFQUNHLFlBQXlCLHFEQUF6QjtFQUNSLFlBQVcsS0FBWDtFQUNBLG9CQUFtQixXQUFuQjtFQUNHLGlCQUFnQixXQUFoQjtFQUNLLFlBQVcsV0FBWDtFQUNSLFVBQVMsU0FBVDtFQUNBLFFBQU8sS0FBUDtFQUNBLE9BQU0sS0FBTjtFQUlBLFNBQVEsT0FBUjtFQUNBLFNBQVEsRUFBUjs7QUFKdUI7QUFBQTtJQUN0QixhQUFZLE1BQVo7SUFDQSxPQUF1QixtQkFBdkI7OztBQUdEO0VBQ0MsVUFBUyxPQUFUOztBQUNEO0VBQ0MsU0FBUSxFQUFSO0VBQ0EsUUFBTyxFQUFQOztBQUNGO0VBQ0Msb0JBQW1CLGtCQUFuQjtFQUNHLGlCQUFnQixrQkFBaEI7RUFDQyxnQkFBZSxrQkFBZjtFQUNDLGVBQWMsa0JBQWQ7RUFDRyxZQUFXLGtCQUFYO0VBQ1IsT0FBTSxRQUFOO0VBQ0EsUUFBTyxXQUFQO0VBQ0EsYUFBYSxLQUFiO0VBQ0EsV0FBVSxPQUFWOztBQUN1QjtBQUFBO0lBQ3RCLFdBQVUsS0FBVjs7O0FBQ0Y7RUFHQyxXQUFVLE9BQVY7RUFDQSxhQUFhLEtBQWI7RUFHQSxRQUFPLGNBQVA7RUFDQSxTQUFRLFFBQVI7RUFDQSxlQUFjLGVBQWQ7O0FBUkE7RUFDQyxZQUFXLEtBQVg7O0FBR3NCO0FBQUE7SUFDdEIsV0FBVSxRQUFWOzs7QUFJRjtBQUNBO0VBQ0MsVUFBUyxTQUFUO0VBQ0EsUUFBTyxRQUFQO0VBbUJJLGdCQUFlLEtBQWY7RUFDQSx3QkFBdUIsWUFBdkI7O0FBbkJKOztFQUNDLFNBQVEsUUFBUjtFQUNBLGFBQVksY0FBWjtFQUNBLFNBQVEsRUFBUjtFQUNBLFVBQVMsT0FBVDtFQUNBLFNBQVEsYUFBUjtFQUNBLFFBQU8sRUFBUDtFQUNBLFlBQVcsT0FBWDtFQUNBLEtBQUksSUFBSjtFQUNBLE9BQXFCLGlCQUFyQjtFQUNBLE9BQU0sS0FBTjtFQUNBLFVBQVMsU0FBVDtFQUNBLG1CQUFpQyxpQkFBakM7RUFDRyxnQkFBOEIsaUJBQTlCO0VBQ0MsZUFBNkIsaUJBQTdCO0VBQ0MsY0FBNEIsaUJBQTVCO0VBQ0csV0FBeUIsaUJBQXpCO0VBQ1IsV0FBVSxNQUFWIiwiZmlsZSI6ImNtcHQuY29udGVudC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IFwidmFyaWFibGVzXCJcclxuXHJcbi5jb250ZW50XHJcblx0cG9zaXRpb24gcmVsYXRpdmVcclxuXHQudGFibGVcclxuXHRcdHdpZHRoIDEwMCVcclxuXHRcdG92ZXJmbG93LXkgYXV0byBcclxuXHR0YWJsZVxyXG5cdHRyXHJcblx0dGRcclxuXHR0aFxyXG5cdFx0Ym9yZGVyIDFweCBzb2xpZCAjZWNlZWVmXHJcblx0dGRcclxuXHRcdHBhZGRpbmcgNHB4XHJcblx0dGQ6bnRoLWNoaWxkKDEpXHJcblx0XHRmb250LXdlaWdodCBib2xkXHJcblx0bGlcclxuXHRwXHJcblx0XHRjb2RlXHJcblx0XHRcdGNvbG9yICNlOTY5MDBcclxuXHRcdFx0cGFkZGluZyAzcHggNXB4XHJcblx0XHRcdG1hcmdpbiAwIDJweFxyXG5cdFx0XHRib3JkZXItcmFkaXVzIDJweFxyXG5cdFx0XHR3aGl0ZS1zcGFjZSBub3dyYXBcclxuXHRcdFx0YmFja2dyb3VuZC1jb2xvciAgI2Y4ZjhmODtcclxuXHRcdFx0Zm9udC1mYW1pbHkgbW9ub3NwYWNlXHJcblx0XHRcdGZvbnQtc2l6ZSAxZW1cclxuXHRib3gtc2hhZG93IC0ycHggMCA1cHggcmdiYSgwLCAwLCAwLCAxKVxyXG5cdGZvbnQtc2l6ZSAxLjVyZW1cclxuXHRsaW5lLWhlaWdodDogMnJlbTtcclxuXHRvcGFjaXR5IDAgXHJcblx0LXdlYmtpdC10cmFuc2l0aW9uIG9wYWNpdHkgMXMgZWFzZVxyXG5cdCAgIC1tb3otdHJhbnNpdGlvbiBvcGFjaXR5IDFzIGVhc2UgXHJcblx0ICAgIC1tcy10cmFuc2l0aW9uIG9wYWNpdHkgMXMgZWFzZSBcclxuXHQgICAgIC1vLXRyYW5zaXRpb24gb3BhY2l0eSAxcyBlYXNlIFxyXG5cdCAgICAgICAgdHJhbnNpdGlvbiBvcGFjaXR5IDFzIGVhc2UgXHJcblx0Ji53aXRoLWFuaW1hdGlvblxyXG5cdFx0b3BhY2l0eSAxIFxyXG5cdFx0LXdlYmtpdC10cmFuc2l0aW9uIGhlaWdodCAxcyBlYXNlXHJcblx0XHQgICAtbW96LXRyYW5zaXRpb24gaGVpZ2h0IDFzIGVhc2UgXHJcblx0XHQgICAgLW1zLXRyYW5zaXRpb24gaGVpZ2h0IDFzIGVhc2UgXHJcblx0XHQgICAgIC1vLXRyYW5zaXRpb24gaGVpZ2h0IDFzIGVhc2UgXHJcblx0XHQgICAgICAgIHRyYW5zaXRpb24gaGVpZ2h0IDFzIGVhc2UgXHJcblx0cGFkZGluZyAwLjFyZW1cclxuXHRvdmVyZmxvdyBoaWRkZW5cclxuXHRiYWNrZ3JvdW5kLWNvbG9yIHJnYmEoMjU1LCAyNTUsIDI1NSwgMSlcclxuXHRwYWRkaW5nIDhweCBcclxuXHQtd2Via2l0LWJveC1zaXppbmcgYm9yZGVyLWJveFxyXG5cdCAgIC1tb3otYm94LXNpemluZyBib3JkZXItYm94XHJcblx0ICAgICAgICBib3gtc2l6aW5nIGJvcmRlci1ib3hcclxuXHRAbWVkaWEgKG1pbi13aWR0aCA3NjhweClcclxuXHRcdHBhZGRpbmcgMTZweFxyXG5cdC13ZWJraXQtYm94LXNpemluZyBib3JkZXItYm94XHJcblx0ICAgLW1vei1ib3gtc2l6aW5nIGJvcmRlci1ib3hcclxuXHQgICAgICAgIGJveC1zaXppbmcgYm9yZGVyLWJveFxyXG5cdCYtLW91dGVyXHJcblx0XHQtd2Via2l0LXRyYW5zaXRpb24gb3BhY2l0eSAuNXMgZWFzZSwgd2lkdGggMXMgZWFzZVxyXG5cdFx0ICAgLW1vei10cmFuc2l0aW9uIG9wYWNpdHkgLjVzIGVhc2UsIHdpZHRoIDFzIGVhc2VcclxuXHRcdCAgICAtbXMtdHJhbnNpdGlvbiBvcGFjaXR5IC41cyBlYXNlLCB3aWR0aCAxcyBlYXNlXHJcblx0XHQgICAgIC1vLXRyYW5zaXRpb24gb3BhY2l0eSAuNXMgZWFzZSwgd2lkdGggMXMgZWFzZVxyXG5cdFx0ICAgICAgICB0cmFuc2l0aW9uIG9wYWNpdHkgLjVzIGVhc2UsIHdpZHRoIDFzIGVhc2VcclxuXHRcdG9wYWNpdHkgMSBcclxuXHRcdCYuaXMtaGlkZGVuXHJcblx0XHRcdG9wYWNpdHkgMFxyXG5cdFx0cG9zaXRpb24gYWJzb2x1dGVcclxuXHRcdHRvcCAxNnB4XHJcblx0XHRsZWZ0IDE2cHhcclxuXHRcdG92ZXJmbG93IGhpZGRlblxyXG5cdFx0d2lkdGggMFxyXG5cdFx0aGVpZ2h0IDEwMCVcclxuXHRcdEBtZWRpYSAobWluLXdpZHRoIDc2OHB4KVxyXG5cdFx0XHR3aWR0aCAzMDBweCBcclxuXHQmLS1pbm5lclxyXG5cdFx0LXdlYmtpdC10cmFuc2l0aW9uIGhlaWdodCAxcyBlYXNlLCBvcGFjaXR5IDFzIGVhc2UsIG1hcmdpbi1sZWZ0IDFzIGVhc2VcclxuXHRcdCAgIC1tb3otdHJhbnNpdGlvbiBoZWlnaHQgMXMgZWFzZSwgb3BhY2l0eSAxcyBlYXNlLCBtYXJnaW4tbGVmdCAxcyBlYXNlXHJcblx0XHQgICAgLW1zLXRyYW5zaXRpb24gaGVpZ2h0IDFzIGVhc2UsIG9wYWNpdHkgMXMgZWFzZSwgbWFyZ2luLWxlZnQgMXMgZWFzZVxyXG5cdFx0ICAgICAtby10cmFuc2l0aW9uIGhlaWdodCAxcyBlYXNlLCBvcGFjaXR5IDFzIGVhc2UsIG1hcmdpbi1sZWZ0IDFzIGVhc2VcclxuXHRcdCAgICAgICAgdHJhbnNpdGlvbiBoZWlnaHQgMXMgZWFzZSwgb3BhY2l0eSAxcyBlYXNlLCBtYXJnaW4tbGVmdCAxcyBlYXNlXHJcblx0XHRvdmVyZmxvdy15IGF1dG9cclxuXHRcdC13ZWJraXQtYm94LXNpemluZyBib3JkZXItYm94XHJcblx0XHQgICAtbW96LWJveC1zaXppbmcgYm9yZGVyLWJveFxyXG5cdFx0ICAgICAgICBib3gtc2l6aW5nIGJvcmRlci1ib3hcclxuXHRcdHBvc2l0aW9uIHJlbGF0aXZlXHJcblx0XHRoZWlnaHQgMTAwJVxyXG5cdFx0d2lkdGggMTAwJVxyXG5cdFx0QG1lZGlhIChtaW4td2lkdGggNzY4cHgpXHJcblx0XHRcdG1hcmdpbi1sZWZ0IDMxMHB4IFxyXG5cdFx0XHR3aWR0aCBjYWxjKDEwMCUgLSAzMTBweClcclxuXHRcdHBhZGRpbmcgMCAyMHB4XHJcblx0XHRvcGFjaXR5IDFcclxuXHRcdCYuaXMtYmxvY2tlZFxyXG5cdFx0XHRvdmVyZmxvdyBoaWRkZW47IFxyXG5cdFx0Ji5pcy1oaWRkZW5cclxuXHRcdFx0b3BhY2l0eSAwIFxyXG5cdFx0XHRoZWlnaHQgMFxyXG5cdGgyXHJcblx0XHQtd2Via2l0LXRyYW5zaXRpb24gZm9udC1zaXplIDFzIGVhc2VcclxuXHRcdCAgIC1tb3otdHJhbnNpdGlvbiBmb250LXNpemUgMXMgZWFzZVxyXG5cdFx0ICAgIC1tcy10cmFuc2l0aW9uIGZvbnQtc2l6ZSAxcyBlYXNlXHJcblx0XHQgICAgIC1vLXRyYW5zaXRpb24gZm9udC1zaXplIDFzIGVhc2VcclxuXHRcdCAgICAgICAgdHJhbnNpdGlvbiBmb250LXNpemUgMXMgZWFzZVx0XHJcblx0XHRjb2xvciAjM0U4NjNEXHJcblx0XHRtYXJnaW4gMjBweCAwIDFlbVxyXG5cdFx0bGluZS1oZWlnaHQ6IDNyZW07XHJcblx0XHRmb250LXNpemUgMi40cmVtXHJcblx0XHRAbWVkaWEgKG1pbi13aWR0aCA3NjhweClcclxuXHRcdFx0Zm9udC1zaXplIDNyZW1cclxuXHRoM1xyXG5cdFx0JjpudGgtY2hpbGQoMSlcclxuXHRcdFx0bWFyZ2luLXRvcCAyMHB4IFxyXG5cdFx0Zm9udC1zaXplIDEuOHJlbVxyXG5cdFx0bGluZS1oZWlnaHQ6IDJyZW07XHJcblx0XHRAbWVkaWEgKG1pbi13aWR0aCA3NjhweClcclxuXHRcdFx0Zm9udC1zaXplIDIuMjVyZW1cclxuXHRcdG1hcmdpbiAxLjNlbSAwIDAuOGVtXHJcblx0XHRwYWRkaW5nIDAuN2VtIDBcclxuXHRcdGJvcmRlci1ib3R0b20gMXB4IHNvbGlkICNkZGRcclxuXHRoMlxyXG5cdGgzXHJcblx0XHRwb3NpdGlvbiByZWxhdGl2ZVxyXG5cdFx0Y3Vyc29yIHBvaW50ZXJcclxuXHRcdCY6aG92ZXI6OmJlZm9yZVxyXG5cdFx0XHRjb250ZW50IFwiXFxmMTNkXCJcclxuXHRcdFx0Zm9udC1mYW1pbHkgXCJGb250QXdlc29tZVwiXHJcblx0XHRcdHotaW5kZXggMVxyXG5cdFx0XHRvdmVyZmxvdyBoaWRkZW5cclxuXHRcdFx0ZGlzcGxheSBpbmxpbmUtYmxvY2tcclxuXHRcdFx0bWFyZ2luIDBcclxuXHRcdFx0dGV4dC1hbGlnbiBjZW50ZXJcclxuXHRcdFx0dG9wIDUwJVxyXG5cdFx0XHRyaWdodCBjYWxjKDEwMCUgKyAycHgpXHJcblx0XHRcdHdpZHRoIDE4cHggXHJcblx0XHRcdHBvc2l0aW9uIGFic29sdXRlXHJcblx0XHRcdC13ZWJraXQtdHJhbnNmb3JtIHRyYW5zbGF0ZVkoLTUwJSlcclxuXHRcdFx0ICAgLW1vei10cmFuc2Zvcm0gdHJhbnNsYXRlWSgtNTAlKVxyXG5cdFx0XHQgICAgLW1zLXRyYW5zZm9ybSB0cmFuc2xhdGVZKC01MCUpXHJcblx0XHRcdCAgICAgLW8tdHJhbnNmb3JtIHRyYW5zbGF0ZVkoLTUwJSlcclxuXHRcdFx0ICAgICAgICB0cmFuc2Zvcm0gdHJhbnNsYXRlWSgtNTAlKSBcclxuXHRcdFx0Zm9udC1zaXplIDAuNWVtXHJcblx0XHQgICAgdGV4dC1yZW5kZXJpbmcgYXV0b1xyXG5cdFx0ICAgIC13ZWJraXQtZm9udC1zbW9vdGhpbmcgYW50aWFsaWFzZWQiXX0= */