@import "variables"

html
	font-size 62.5% 
	font-family "lato"
	height 100%
	min-height 100%
body
	min-height 100%
	standard-size()
	margin 0
	padding 0
	background-attachment fixed
	background-image url('https://www.lesieur.name/media/images/animate-website.jpg')
	backgroun-position: center center
	-webkit-background-size cover 
	     -o-background-size cover 
	        background-size cover
a
.fa-chevron-down
	cursor pointer
	color #48739E
	text-decoration none
	&:visited
		color #48739E
	&:hover
		color #C00
.background
	-webkit-transition opacity 1s ease 
	   -moz-transition opacity 1s ease 
	    -ms-transition opacity 1s ease 
	     -o-transition opacity 1s ease 
	        transition opacity 1s ease 
	opacity 1
	position absolute
	top 0
	left 0
	width 100%
	height 100% 
	background-image linear-gradient(rgba(255, 255, 255, 0.8) .1em, rgba(255, 255, 255, 0.4))
	background-size 100% 2px
	&.is-scrolled
		opacity 0
.small
	font-size 0.9em 
a.button
.button
	cursor pointer
	text-decoration none
	-webkit-transition opacity 3s ease
	   -moz-transition opacity 3s ease
	    -ms-transition opacity 3s ease
	     -o-transition opacity 3s ease
	        transition opacity 3s ease
	font-family "lato"
	font-size 1.5rem
	font-weight bold
	box-shadow 1px 1px 2px rgba(255, 255, 255, 0.6), -1px 1px 2px rgba(255, 255, 255, 0.6), 1px -1px 2px rgba(255, 255, 255, 0.6), -1px -1px 2px rgba(255, 255, 255, 0.6)
	padding 0.75em 2em
	border-radius 2em
	display inline-block
	color rgba(255, 255, 255, 1)
	background-color rgba(102, 159, 100, 1)
	background-image -webkit-linear-gradient(top,  rgba(117,185,93,1) 0%,rgba(64,134,63,1) 33%,rgba(111,164,96,1) 66%,rgba(62,134,61,1) 100%);
	background-image    -moz-linear-gradient(top,  rgba(117,185,93,1) 0%, rgba(64,134,63,1) 33%, rgba(111,164,96,1) 66%, rgba(62,134,61,1) 100%);
	background-image         linear-gradient(to bottom,  rgba(117,185,93,1) 0%,rgba(64,134,63,1) 33%,rgba(111,164,96,1) 66%,rgba(62,134,61,1) 100%);
	box-sizing border-box
	border 1px solid #4fc08d
	&:hover
		color rgba(102, 159, 100, 1)
		background-color #fff
		background-image none
.aside
	margin 0 