@import "variables"

.popup
	opacity 0
	cursor pointer
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background-color rgba(0, 0, 0, 0.5);
	z-index -1
	&.is-opened
		@media (min-width 640px)
			opacity 1
			z-index 5
			.popup--nodeatlas
				margin-right 10px
			.popup--challenger
				margin-left 10px
			.popup--versus
				opacity 1
	.logo
		display none
		@media (min-width 1024px)
			display block
			float right
			margin-top 20px
	&--inner
		width 100%
		min-width 600px
		max-width 1200px
		cursor default
		position absolute
		height 600px
		top 50%
		left 50%
		-webkit-transform translate(-50%, -50%)
		   -moz-transform translate(-50%, -50%)
		    -ms-transform translate(-50%, -50%)
		     -o-transform translate(-50%, -50%)
		        transform translate(-50%, -50%)
		overflow auto
		overflow-x: hidden;

	&--versus
		-webkit-transition opacity 2s ease 1s
		   -moz-transition opacity 2s ease 1s
		    -ms-transition opacity 2s ease 1s
		     -o-transition opacity 2s ease 1s
		        transition opacity 2s ease 1s
		opacity 0
		text-shadow 1px 1px 2px rgba(255,255,255,0.8), -1px 1px 2px rgba(255,255,255,0.8), 1px -1px 2px rgba(255,255,255,0.8), -1px -1px 2px rgba(255,255,255,0.8)
		position absolute
		top 50%
		left 50%
		-webkit-transform translate(-50%, -50%)
		   -moz-transform translate(-50%, -50%)
		    -ms-transform translate(-50%, -50%)
		     -o-transform translate(-50%, -50%)
		        transform translate(-50%, -50%)
		color #6dbd4d
		text-align center
		font-weight bold
		font-size 2rem
		del
			position relative
			bottom 78px
			cursor pointer
			text-decoration none
			&:hover
				color #c00
		ins
			color #3e863d
			font-size 2.6rem
			position relative
			bottom 100px
			text-decoration none
		span
			display block
			font-size 15rem
	&--challenger
		float left
		margin-left -500px
	&--nodeatlas
		float right
		margin-right -500px
	&--nodeatlas
	&--challenger
		-webkit-box-sizing border-box
		   -moz-box-sizing border-box
		        box-sizing border-box
		-webkit-transition margin-left 1s ease, margin-right 1s ease
		   -moz-transition margin-left 1s ease, margin-right 1s ease
		    -ms-transition margin-left 1s ease, margin-right 1s ease
		     -o-transition margin-left 1s ease, margin-right 1s ease
		        transition margin-left 1s ease, margin-right 1s ease
		padding 0 20px
		background-color #fff;
		width calc(50% - 20px)
	h2
		-webkit-transition font-size 1s ease
		   -moz-transition font-size 1s ease
		    -ms-transition font-size 1s ease
		     -o-transition font-size 1s ease
		        transition font-size 1s ease
		color #3E863D
		margin 20px 0 1em
		line-height: 3rem;
		font-size 2.4rem
		@media (min-width 768px)
			font-size 3rem
	h3
		&:nth-child(1)
			margin-top 20px
		font-size 1.8rem
		line-height: 2rem;
		@media (min-width 768px)
			font-size 2.25rem
		margin 1.3em 0 0.8em
		padding 0.7em 0
		border-bottom 1px solid #ddd