.popup {
  opacity: 0;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}
@media (min-width: 640px) {
  .popup.is-opened {
    opacity: 1;
    z-index: 5;
  }
  .popup.is-opened .popup--nodeatlas {
    margin-right: 10px;
  }
  .popup.is-opened .popup--challenger {
    margin-left: 10px;
  }
  .popup.is-opened .popup--versus {
    opacity: 1;
  }
}
.popup .logo {
  display: none;
}
@media (min-width: 1024px) {
  .popup .logo {
    display: block;
    float: right;
    margin-top: 20px;
  }
}
.popup--inner {
  width: 100%;
  min-width: 600px;
  max-width: 1200px;
  cursor: default;
  position: absolute;
  height: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: auto;
  overflow-x: hidden;
}
.popup--versus {
  -webkit-transition: opacity 2s ease 1s;
  -moz-transition: opacity 2s ease 1s;
  -ms-transition: opacity 2s ease 1s;
  -o-transition: opacity 2s ease 1s;
  transition: opacity 2s ease 1s;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.8), -1px 1px 2px rgba(255,255,255,0.8), 1px -1px 2px rgba(255,255,255,0.8), -1px -1px 2px rgba(255,255,255,0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #6dbd4d;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.popup--versus del {
  position: relative;
  bottom: 78px;
  cursor: pointer;
  text-decoration: none;
}
.popup--versus del:hover {
  color: #c00;
}
.popup--versus ins {
  color: #3e863d;
  font-size: 2.6rem;
  position: relative;
  bottom: 100px;
  text-decoration: none;
}
.popup--versus span {
  display: block;
  font-size: 15rem;
}
.popup--challenger {
  float: left;
  margin-left: -500px;
}
.popup--nodeatlas {
  float: right;
  margin-right: -500px;
}
.popup--nodeatlas,
.popup--challenger {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: margin-left 1s ease, margin-right 1s ease;
  -moz-transition: margin-left 1s ease, margin-right 1s ease;
  -ms-transition: margin-left 1s ease, margin-right 1s ease;
  -o-transition: margin-left 1s ease, margin-right 1s ease;
  transition: margin-left 1s ease, margin-right 1s ease;
  padding: 0 20px;
  background-color: #fff;
  width: calc(50% - 20px);
}
.popup h2 {
  -webkit-transition: font-size 1s ease;
  -moz-transition: font-size 1s ease;
  -ms-transition: font-size 1s ease;
  -o-transition: font-size 1s ease;
  transition: font-size 1s ease;
  color: #3e863d;
  margin: 20px 0 1em;
  line-height: 3rem;
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  .popup h2 {
    font-size: 3rem;
  }
}
.popup h3 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 1.3em 0 0.8em;
  padding: 0.7em 0;
  border-bottom: 1px solid #ddd;
}
.popup h3:nth-child(1) {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .popup h3 {
    font-size: 2.25rem;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFzc2V0cy9zdHlsZXNoZWV0cy9jbXB0LnBvcHVwLnN0eWwiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUE7RUFDQyxTQUFRLEVBQVI7RUFDQSxRQUFPLFFBQVA7RUFDQSxVQUFTLE1BQVQ7RUFDQSxLQUFJLEVBQUo7RUFDQSxNQUFLLEVBQUw7RUFDQSxPQUFNLEtBQU47RUFDQSxRQUFPLEtBQVA7RUFDQSxrQkFBa0MsZ0JBQWxDO0VBQ0EsU0FBUSxHQUFSOztBQUV3QjtBQUFBO0lBQ3RCLFNBQVEsRUFBUjtJQUNBLFNBQVEsRUFBUjs7QUFDQTtJQUNDLGNBQWEsS0FBYjs7QUFDRDtJQUNDLGFBQVksS0FBWjs7QUFDRDtJQUNDLFNBQVEsRUFBUjs7O0FBQ0g7RUFDQyxTQUFRLEtBQVI7O0FBQ3dCO0FBQUE7SUFDdkIsU0FBUSxNQUFSO0lBQ0EsT0FBTSxNQUFOO0lBQ0EsWUFBVyxLQUFYOzs7QUFDRjtFQUNDLE9BQU0sS0FBTjtFQUNBLFdBQVUsTUFBVjtFQUNBLFdBQVUsT0FBVjtFQUNBLFFBQU8sUUFBUDtFQUNBLFVBQVMsU0FBVDtFQUNBLFFBQU8sTUFBUDtFQUNBLEtBQUksSUFBSjtFQUNBLE1BQUssSUFBTDtFQUNBLG1CQUFzQyxzQkFBdEM7RUFDRyxnQkFBbUMsc0JBQW5DO0VBQ0MsZUFBa0Msc0JBQWxDO0VBQ0MsY0FBaUMsc0JBQWpDO0VBQ0csV0FBOEIsc0JBQTlCO0VBQ1IsVUFBUyxLQUFUO0VBQ0EsWUFBWSxPQUFaOztBQUVEO0VBQ0Msb0JBQW1CLG1CQUFuQjtFQUNHLGlCQUFnQixtQkFBaEI7RUFDQyxnQkFBZSxtQkFBZjtFQUNDLGVBQWMsbUJBQWQ7RUFDRyxZQUFXLG1CQUFYO0VBQ1IsU0FBUSxFQUFSO0VBQ0EsYUFBNkMsK0lBQTdDO0VBQ0EsVUFBUyxTQUFUO0VBQ0EsS0FBSSxJQUFKO0VBQ0EsTUFBSyxJQUFMO0VBQ0EsbUJBQXNDLHNCQUF0QztFQUNHLGdCQUFtQyxzQkFBbkM7RUFDQyxlQUFrQyxzQkFBbEM7RUFDQyxjQUFpQyxzQkFBakM7RUFDRyxXQUE4QixzQkFBOUI7RUFDUixPQUFNLFFBQU47RUFDQSxZQUFXLE9BQVg7RUFDQSxhQUFZLEtBQVo7RUFDQSxXQUFVLEtBQVY7O0FBQ0E7RUFDQyxVQUFTLFNBQVQ7RUFDQSxRQUFPLEtBQVA7RUFDQSxRQUFPLFFBQVA7RUFDQSxpQkFBZ0IsS0FBaEI7O0FBQ0E7RUFDQyxPQUFNLEtBQU47O0FBQ0Y7RUFDQyxPQUFNLFFBQU47RUFDQSxXQUFVLE9BQVY7RUFDQSxVQUFTLFNBQVQ7RUFDQSxRQUFPLE1BQVA7RUFDQSxpQkFBZ0IsS0FBaEI7O0FBQ0Q7RUFDQyxTQUFRLE1BQVI7RUFDQSxXQUFVLE1BQVY7O0FBQ0Y7RUFDQyxPQUFNLEtBQU47RUFDQSxhQUFZLE9BQVo7O0FBQ0Q7RUFDQyxPQUFNLE1BQU47RUFDQSxjQUFhLE9BQWI7O0FBQ0Q7QUFDQTtFQUNDLG9CQUFtQixXQUFuQjtFQUNHLGlCQUFnQixXQUFoQjtFQUNLLFlBQVcsV0FBWDtFQUNSLG9CQUFzQywwQ0FBdEM7RUFDRyxpQkFBbUMsMENBQW5DO0VBQ0MsZ0JBQWtDLDBDQUFsQztFQUNDLGVBQWlDLDBDQUFqQztFQUNHLFlBQThCLDBDQUE5QjtFQUNSLFNBQVEsT0FBUjtFQUNBLGtCQUFpQixLQUFqQjtFQUNBLE9BQXFCLGlCQUFyQjs7QUFDRDtFQUNDLG9CQUFtQixrQkFBbkI7RUFDRyxpQkFBZ0Isa0JBQWhCO0VBQ0MsZ0JBQWUsa0JBQWY7RUFDQyxlQUFjLGtCQUFkO0VBQ0csWUFBVyxrQkFBWDtFQUNSLE9BQU0sUUFBTjtFQUNBLFFBQU8sV0FBUDtFQUNBLGFBQWEsS0FBYjtFQUNBLFdBQVUsT0FBVjs7QUFDdUI7QUFBQTtJQUN0QixXQUFVLEtBQVY7OztBQUNGO0VBR0MsV0FBVSxPQUFWO0VBQ0EsYUFBYSxLQUFiO0VBR0EsUUFBTyxjQUFQO0VBQ0EsU0FBUSxRQUFSO0VBQ0EsZUFBYyxlQUFkOztBQVJBO0VBQ0MsWUFBVyxLQUFYOztBQUdzQjtBQUFBO0lBQ3RCLFdBQVUsUUFBViIsImZpbGUiOiJjbXB0LnBvcHVwLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCJ2YXJpYWJsZXNcIlxyXG5cclxuLnBvcHVwXHJcblx0b3BhY2l0eSAwIFxyXG5cdGN1cnNvciBwb2ludGVyXHJcblx0cG9zaXRpb24gZml4ZWRcclxuXHR0b3AgMFxyXG5cdGxlZnQgMFxyXG5cdHdpZHRoIDEwMCVcclxuXHRoZWlnaHQgMTAwJVxyXG5cdGJhY2tncm91bmQtY29sb3IgcmdiYSgwLCAwLCAwLCAwLjUpO1xyXG5cdHotaW5kZXggLTFcclxuXHQmLmlzLW9wZW5lZFxyXG5cdFx0QG1lZGlhIChtaW4td2lkdGggNjQwcHgpXHJcblx0XHRcdG9wYWNpdHkgMVxyXG5cdFx0XHR6LWluZGV4IDVcclxuXHRcdFx0LnBvcHVwLS1ub2RlYXRsYXNcclxuXHRcdFx0XHRtYXJnaW4tcmlnaHQgMTBweFxyXG5cdFx0XHQucG9wdXAtLWNoYWxsZW5nZXJcclxuXHRcdFx0XHRtYXJnaW4tbGVmdCAxMHB4XHJcblx0XHRcdC5wb3B1cC0tdmVyc3VzXHJcblx0XHRcdFx0b3BhY2l0eSAxXHJcblx0LmxvZ29cclxuXHRcdGRpc3BsYXkgbm9uZVxyXG5cdFx0QG1lZGlhIChtaW4td2lkdGggMTAyNHB4KVxyXG5cdFx0XHRkaXNwbGF5IGJsb2NrXHJcblx0XHRcdGZsb2F0IHJpZ2h0XHJcblx0XHRcdG1hcmdpbi10b3AgMjBweFxyXG5cdCYtLWlubmVyXHJcblx0XHR3aWR0aCAxMDAlXHJcblx0XHRtaW4td2lkdGggNjAwcHhcclxuXHRcdG1heC13aWR0aCAxMjAwcHhcclxuXHRcdGN1cnNvciBkZWZhdWx0XHJcblx0XHRwb3NpdGlvbiBhYnNvbHV0ZVxyXG5cdFx0aGVpZ2h0IDYwMHB4XHJcblx0XHR0b3AgNTAlXHJcblx0XHRsZWZ0IDUwJVxyXG5cdFx0LXdlYmtpdC10cmFuc2Zvcm0gdHJhbnNsYXRlKC01MCUsIC01MCUpIFxyXG5cdFx0ICAgLW1vei10cmFuc2Zvcm0gdHJhbnNsYXRlKC01MCUsIC01MCUpIFxyXG5cdFx0ICAgIC1tcy10cmFuc2Zvcm0gdHJhbnNsYXRlKC01MCUsIC01MCUpIFxyXG5cdFx0ICAgICAtby10cmFuc2Zvcm0gdHJhbnNsYXRlKC01MCUsIC01MCUpIFxyXG5cdFx0ICAgICAgICB0cmFuc2Zvcm0gdHJhbnNsYXRlKC01MCUsIC01MCUpIFxyXG5cdFx0b3ZlcmZsb3cgYXV0b1xyXG5cdFx0b3ZlcmZsb3cteDogaGlkZGVuO1xyXG5cdFx0XHJcblx0Ji0tdmVyc3VzXHJcblx0XHQtd2Via2l0LXRyYW5zaXRpb24gb3BhY2l0eSAycyBlYXNlIDFzXHJcblx0XHQgICAtbW96LXRyYW5zaXRpb24gb3BhY2l0eSAycyBlYXNlIDFzXHJcblx0XHQgICAgLW1zLXRyYW5zaXRpb24gb3BhY2l0eSAycyBlYXNlIDFzXHJcblx0XHQgICAgIC1vLXRyYW5zaXRpb24gb3BhY2l0eSAycyBlYXNlIDFzXHJcblx0XHQgICAgICAgIHRyYW5zaXRpb24gb3BhY2l0eSAycyBlYXNlIDFzXHJcblx0XHRvcGFjaXR5IDBcclxuXHRcdHRleHQtc2hhZG93IDFweCAxcHggMnB4IHJnYmEoMjU1LDI1NSwyNTUsMC44KSwgLTFweCAxcHggMnB4IHJnYmEoMjU1LDI1NSwyNTUsMC44KSwgMXB4IC0xcHggMnB4IHJnYmEoMjU1LDI1NSwyNTUsMC44KSwgLTFweCAtMXB4IDJweCByZ2JhKDI1NSwyNTUsMjU1LDAuOClcclxuXHRcdHBvc2l0aW9uIGFic29sdXRlXHJcblx0XHR0b3AgNTAlXHJcblx0XHRsZWZ0IDUwJVxyXG5cdFx0LXdlYmtpdC10cmFuc2Zvcm0gdHJhbnNsYXRlKC01MCUsIC01MCUpIFxyXG5cdFx0ICAgLW1vei10cmFuc2Zvcm0gdHJhbnNsYXRlKC01MCUsIC01MCUpIFxyXG5cdFx0ICAgIC1tcy10cmFuc2Zvcm0gdHJhbnNsYXRlKC01MCUsIC01MCUpIFxyXG5cdFx0ICAgICAtby10cmFuc2Zvcm0gdHJhbnNsYXRlKC01MCUsIC01MCUpIFxyXG5cdFx0ICAgICAgICB0cmFuc2Zvcm0gdHJhbnNsYXRlKC01MCUsIC01MCUpXHJcblx0XHRjb2xvciAjNmRiZDRkXHJcblx0XHR0ZXh0LWFsaWduIGNlbnRlclxyXG5cdFx0Zm9udC13ZWlnaHQgYm9sZFxyXG5cdFx0Zm9udC1zaXplIDJyZW1cclxuXHRcdGRlbFxyXG5cdFx0XHRwb3NpdGlvbiByZWxhdGl2ZVxyXG5cdFx0XHRib3R0b20gNzhweCBcclxuXHRcdFx0Y3Vyc29yIHBvaW50ZXJcclxuXHRcdFx0dGV4dC1kZWNvcmF0aW9uIG5vbmVcclxuXHRcdFx0Jjpob3ZlclxyXG5cdFx0XHRcdGNvbG9yICNjMDBcclxuXHRcdGluc1xyXG5cdFx0XHRjb2xvciAjM2U4NjNkIFxyXG5cdFx0XHRmb250LXNpemUgMi42cmVtXHJcblx0XHRcdHBvc2l0aW9uIHJlbGF0aXZlXHJcblx0XHRcdGJvdHRvbSAxMDBweCBcclxuXHRcdFx0dGV4dC1kZWNvcmF0aW9uIG5vbmVcclxuXHRcdHNwYW5cclxuXHRcdFx0ZGlzcGxheSBibG9ja1xyXG5cdFx0XHRmb250LXNpemUgMTVyZW1cclxuXHQmLS1jaGFsbGVuZ2VyXHJcblx0XHRmbG9hdCBsZWZ0XHJcblx0XHRtYXJnaW4tbGVmdCAtNTAwcHhcclxuXHQmLS1ub2RlYXRsYXNcclxuXHRcdGZsb2F0IHJpZ2h0XHJcblx0XHRtYXJnaW4tcmlnaHQgLTUwMHB4XHJcblx0Ji0tbm9kZWF0bGFzXHJcblx0Ji0tY2hhbGxlbmdlclxyXG5cdFx0LXdlYmtpdC1ib3gtc2l6aW5nIGJvcmRlci1ib3hcclxuXHRcdCAgIC1tb3otYm94LXNpemluZyBib3JkZXItYm94XHJcblx0XHQgICAgICAgIGJveC1zaXppbmcgYm9yZGVyLWJveFxyXG5cdFx0LXdlYmtpdC10cmFuc2l0aW9uIG1hcmdpbi1sZWZ0IDFzIGVhc2UsIG1hcmdpbi1yaWdodCAxcyBlYXNlXHJcblx0XHQgICAtbW96LXRyYW5zaXRpb24gbWFyZ2luLWxlZnQgMXMgZWFzZSwgbWFyZ2luLXJpZ2h0IDFzIGVhc2VcclxuXHRcdCAgICAtbXMtdHJhbnNpdGlvbiBtYXJnaW4tbGVmdCAxcyBlYXNlLCBtYXJnaW4tcmlnaHQgMXMgZWFzZVxyXG5cdFx0ICAgICAtby10cmFuc2l0aW9uIG1hcmdpbi1sZWZ0IDFzIGVhc2UsIG1hcmdpbi1yaWdodCAxcyBlYXNlXHJcblx0XHQgICAgICAgIHRyYW5zaXRpb24gbWFyZ2luLWxlZnQgMXMgZWFzZSwgbWFyZ2luLXJpZ2h0IDFzIGVhc2VcclxuXHRcdHBhZGRpbmcgMCAyMHB4XHJcblx0XHRiYWNrZ3JvdW5kLWNvbG9yICNmZmY7XHJcblx0XHR3aWR0aCBjYWxjKDUwJSAtIDIwcHgpXHJcblx0aDJcclxuXHRcdC13ZWJraXQtdHJhbnNpdGlvbiBmb250LXNpemUgMXMgZWFzZVxyXG5cdFx0ICAgLW1vei10cmFuc2l0aW9uIGZvbnQtc2l6ZSAxcyBlYXNlXHJcblx0XHQgICAgLW1zLXRyYW5zaXRpb24gZm9udC1zaXplIDFzIGVhc2VcclxuXHRcdCAgICAgLW8tdHJhbnNpdGlvbiBmb250LXNpemUgMXMgZWFzZVxyXG5cdFx0ICAgICAgICB0cmFuc2l0aW9uIGZvbnQtc2l6ZSAxcyBlYXNlXHRcclxuXHRcdGNvbG9yICMzRTg2M0RcclxuXHRcdG1hcmdpbiAyMHB4IDAgMWVtXHJcblx0XHRsaW5lLWhlaWdodDogM3JlbTtcclxuXHRcdGZvbnQtc2l6ZSAyLjRyZW1cclxuXHRcdEBtZWRpYSAobWluLXdpZHRoIDc2OHB4KVxyXG5cdFx0XHRmb250LXNpemUgM3JlbVxyXG5cdGgzXHJcblx0XHQmOm50aC1jaGlsZCgxKVxyXG5cdFx0XHRtYXJnaW4tdG9wIDIwcHggXHJcblx0XHRmb250LXNpemUgMS44cmVtXHJcblx0XHRsaW5lLWhlaWdodDogMnJlbTtcclxuXHRcdEBtZWRpYSAobWluLXdpZHRoIDc2OHB4KVxyXG5cdFx0XHRmb250LXNpemUgMi4yNXJlbVxyXG5cdFx0bWFyZ2luIDEuM2VtIDAgMC44ZW1cclxuXHRcdHBhZGRpbmcgMC43ZW0gMFxyXG5cdFx0Ym9yZGVyLWJvdHRvbSAxcHggc29saWQgI2RkZCJdfQ== */